<form novalidate name=renameSetForm method=post ng-controller="RenameController">
    <header>
        <button type=button class="btn x" sp-tap=modal() sp-kbd="'esc'"></button>
        <input class="btn action" type=submit ng-disabled=renameSetForm.$invalid ng-click="renameSet(r.setId, newname)&&modal()" value={{_.save}}>
        <h2>{{_.renameSet}}</h2></header>
    <ul class=list>
        <li>
            <input class="input block" ng-init="newname=sets[r.setId].name" required ng-model=newname sp-focus="">
        </li>
    </ul>
</form>