@require 'colors.styl'
@require 'app.styl'
@require 'multiselect.styl'

advancedsearch
	position absolute
	left 0px
	top 0px
	height 100vh
	width 450px
	
	padding 20px
	padding-top 75px
	
	box-sizing border-box
	
	background $WHITE
	
	font-size 12px
	
advancedsearch .filters .multiselect
	margin-bottom 10px

advancedsearch multiselect.numbers .option
	min-width 15px