@require "colors.styl"

.whitepaper
	line-height 1.75em
	width 700px
	position relative
	
	background-color $WHITE
	padding 100px
	padding-bottom 0px
	
	box-shadow rgba(0, 0, 0, 0.15) 0px -5px 100px

.aside 
	line-height 1.5em
	color $BLACK
	width 200px
	border-top 1px solid #000

	position absolute
	top 200px
	right 110px
	padding 0px
	
.aside div
	color $BLACK
	font-size 12px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px

#ui
	height 100%
	
/**
 * App-wide Styles
 */
 
 $HEADER_HEIGHT = 75px

.browsehappy 
	margin 0.2em 0
	background $WHITE
	color $BLACK
	padding 0.2em 0

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover 
	box-shadow none
	border none
	transform none
	

div.button
	text-transform uppercase
	background-color $BLACK
	color $WHITE
	border 2px solid $BLACK
	outline none
	
	letter-spacing 2px
	
	user-select none

	display flex
	align-items center
	justify-content center
	
	box-sizing border-box
	
	font-weight 500
	
	cursor pointer
	
	padding 10px
	padding-left 25px
	padding-right 25px
	
	transition background-color 150ms ease, color 150ms ease
	
div.button:hover
	background-color $WHITE
	color $BLACK
	
.header
	font-size 16px
	font-weight 600
	text-transform uppercase
	letter-spacing 1px
	
a
	text-decoration none
	color $BLACK
	transition color $transitiontime ease
	
	padding-bottom 2px
	border-bottom 1px solid $BLACK	
	
	cursor pointer


