@require 'colors.styl'
@require 'app.styl'

.viewer .sidebar
	width 700px
	height 100vh

	position absolute
	top 0px
	right -@width - 5px
	
	transition right 400ms ease-in-out
	
	box-sizing border-box
	box-shadow -2px 2px 5px 0 rgba(0, 0, 0, 0.26)
	z-index 100

.viewer .sidebar.onscreen
	right 0px
	
.viewer .sidebar-content
	padding 50px
	padding-top 25px
	background-color $WHITE
	
	// height s("calc(100vh - %s)", $HEADER_HEIGHT);
	height 100vh
	box-sizing border-box

.viewer .sidebar .sidebar-content h1
	margin-bottom 0.67em

.viewer .sidebar .title
	height $HEADER_HEIGHT
	background-color $WHITE
	
	display flex
	align-items center
	
	box-sizing border-box
	padding-left 40px
	border-bottom 2px solid $BLACK
	
	font-size 18px
	font-weight 500
	




