@require 'colors.styl'
@require 'app.styl'

.viewer .sidebar
	width 33vw
	min-width 600px
	height 100vh

	position absolute
	top 0px
	left 95px
	
	box-sizing border-box
	box-shadow -2px 2px 5px 0 rgba(0, 0, 0, 0.26)
	z-index 100
	
	overflow-y scroll
	
	padding 50px
	padding-top 25px
	background-color $WHITE
	
	line-height 1.5em
	
	font-size 14px
	
.viewer .sidebar a
	@extend p a
	line-height 1.75em

.viewer .sidebar .celltypes
	text-transform capitalize

.viewer .sidebar h1
	margin-bottom 0.67em

.viewer .sidebar h2
	
	border-top 1px solid $BLACK
	width 100%
	
	line-height 1.5em
	
	color $BLACK
	font-size 12px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px
	
	padding-top 5px
	
	margin-top 50px
	margin-bottom 25px
	
.viewer .sidebar h2:first-of-type
	margin-top 40px
	
.viewer .sidebar h3
	width 100%
	
	line-height 1.5em
	
	color $BLACK
	font-size 12px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px

.viewer .sidebar .stratification-chart
	margin-top 45px

.viewer .sidebar table.classification td
	width 10em
	

.viewer .sidebar .footer ul
	columns 2
	list-style-type none

