@require 'colors.styl'
@require 'app.styl'

$MIN_SIDEBAR_WIDTH = 450px

.viewer .sidebar
	width 33vw
	min-width $MIN_SIDEBAR_WIDTH
	height 100vh

	position absolute
	top 0px
	left 95px
	
	box-sizing border-box
	box-shadow -2px 2px 5px 0 rgba(0, 0, 0, 0.26)
	z-index 100
	
	display flex
	flex-direction column
	
	overflow-y hidden
	
	background-color $WHITE
	
	line-height 1.5em
	
	font-size 14px
	
	transition width 400ms ease-in-out, min-width 400ms ease-in-out
	
.viewer .fullscreen .sidebar
	width 100vw
	min-width 100vw
	
.viewer .sidebar a
	@extend p a
	line-height 1.75em

.viewer .sidebar p
	max-width 35em

.viewer .sidebar .celltypes
	text-transform capitalize

.viewer .sidebar h1
	margin-bottom 0.67em

.viewer .sidebar h2
	
	border-top 1px solid $GRAY
	width 100%
	
	line-height 1.5em
	
	color $BLACK
	font-size 11px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px
	
	padding-top 5px
	
	margin-top 50px
	margin-bottom 15px
	
.viewer .sidebar h2:first-of-type
	margin-top 40px
	
.viewer .sidebar h4
	width 100%
	
	line-height 1.5em
	
	color $BLACK
	text-align center
	font-size 16px
	font-weight 400
	
.viewer .sidebar h3
	width 100%
	
	line-height 1.5em
	
	color $BLACK
	font-size 16px
	font-weight 400
	
.viewer .sidebar .characterization
	overflow-y scroll
	
	padding 50px
	padding-top 25px
	
	flex-grow 1
	flex-shrink 1

@media all and (max-width: ($MIN_SIDEBAR_WIDTH / .33)) 
	.viewer .sidebar .characterization
		padding 25px	
		padding-top 15px

.viewer .sidebar table.classification td
	width 10em
	

.viewer .sidebar .footer ul
	columns 2
	list-style-type none
	
.viewer .sidebar .fullscreen
	position absolute
	
	top 25px
	right 50px
	
.viewer .sidebar .data-view-container
	max-width 40vw
	display flex
	flex-grow 1
	align-items flex-start
	flex-direction column
	
.viewer .sidebar .data-view-fullscreen
	height 90vh
	padding-right 4vw
	
.viewer .sidebar .data-view-container:first-of-type
	max-width 100%
	
.chart-container
	width 100%
	display flex
	flex-direction column
	
.row-align
	flex-direction row
	align-self center
	
.header-rule
	width 100%

	
	



