@require 'colors.styl'
@require 'characterization.styl'

chartlegend	
	position relative
	flex-shrink 0
		
	width 100%
	min-height 85px
	
	max-height 300px
	overflow scroll

	z-index 200
	
	display flex
	flex-direction column
	align-items flex-start
	
	background-color $WHITE
	box-shadow rgba(0, 0, 0, 0.15) 0px 0px 50px
	
	padding 50px
	padding-top 25px
	padding-bottom 25px
	
	font-size 12px
	
	box-sizing border-box
	
@media all and (max-width: ($MIN_SIDEBAR_WIDTH / .33)) 
	chartlegend
		padding 25px	
		padding-top 15px
		padding-bottom 15px
	
chartlegend > div
	display flex
	flex-direction column
	align-items center
	justify-content center
	
	width 100%
	
chartlegend .labels
	display flex
	flex-direction row
	align-items center
	justify-content center
	flex-wrap wrap
	
	font-size 11px
	
	width 95%
	
chartlegend .inverter
	position absolute
	right 15px
	
	opacity 0.5
	
	cursor pointer
	transition opacity 150ms ease

chartlegend .inverter:hover
	opacity 0.75
	
chartlegend .restorer
	position absolute
	left 15px
	
	opacity 0.5
	
	cursor pointer
	transition opacity 150ms ease

chartlegend .restorer:hover
	opacity 0.75
	
chartlegend .handle
	position absolute
	
	width 50px
	height 25px
	
	// background-color rgba(black, 0.1)

	top s('calc(25px - %s / 2)', @height)
	left s('calc(50% - %s / 2)', @width)

chartlegend .color-container
	display flex
	flex-direction row
	justify-content flex-start
	align-items center
	
	padding 5px
	padding-left 10px
	padding-right 10px
	
	cursor pointer
	outline none
	
	box-sizing border-box
	
	transition padding 100ms ease-in-out
	
chartlegend .color-container:hover
	background-color rgba($BLACK, 0.1)

chartlegend .color-container.hidden .color
	background-color transparent !important
	border-width 1px

chartlegend .color
	border solid
	border-width 4px
	border-radius 100%
	
	background-color transparent !important
	
	width 8px
	height @width
	
	margin-right 10px
	
	box-sizing border-box
	
	transition border-color 150ms ease-in, border-width 150ms ease-in, background-color 150ms ease-in

