@require 'app.styl'
@require 'colors.styl'

section.credits
	padding-bottom 15px

.credits .flex
	display flex
	flex-wrap wrap
	flex-direction row
	width 725px
	justify-content space-between

credit > div
	width 350px
	height 175px
	box-shadow rgba(0,0,0,0.15) 0px 1px 3px
	border-radius 5px
	padding 15px
	
	margin-bottom 20px
	
	box-sizing border-box

credit credit-name
	font-weight 500