@require 'colors.styl'

$transitiontime = 175ms

body, html
	background $WHITE
	font-family "Roboto", "Helvetica", Arial, sans-serif
	font-size 16px
	letter-spacing 0.25px

a
	color $BLACK
	text-decoration none

p a,
ol li a
	text-decoration none
	color $BLACK
	transition color $transitiontime ease
	
	padding-bottom 2px
	border-bottom 2px solid $BLACK

header > div,
header > nav
	display flex
	align-items center
	height 100%

header .left
	float left
	
header .left a 
	border-bottom none
	padding-bottom 0px

header .right
	float right	
	
	line-height 2.5em
	text-transform uppercase
	letter-spacing 2px
	font-weight 500
	
	font-size 12px
	

header
	width 100%
	height 75px
	
	font-weight 500

	color #404040
	
	border-bottom 1px solid $GRAY
	
header nav > div
	margin-right 50px

header.title
	font-weight 500

main
	display flex
	flex-direction column
	align-items center

#logo
	width 50px
	margin-left 25px
	margin-right 25px
	
	height @width
	
.classyimage
	background-repeat no-repeat
	background-size cover
	background-image url("/images/eyewireBackground.jpg")
	width 100%
	height 500px
	
	position relative
		
.content .tagline,
.content .cta
	position absolute
	left 0px
	top -150px
	
	width 525px
	box-sizing border-box

	padding-left 100px
	padding-top 25px
	padding-bottom 25px
	padding-right 100px
	
	// font-size 24px
	background-color $WHITE
	
	// text-transform uppercase
	// letter-spacing 2px
	// font-weight 700
	
	box-shadow rgba(0, 0, 0, 0.15) 0px -5px 100px

.content .cta
	left 550px
	width 350px
	
	text-align center
	background-color $BLACK
	color $WHITE
	
	text-transform uppercase
	letter-spacing 2px
	
	transition color $transitiontime ease, background-color $transitiontime ease, border $transitiontime ease
	
.content .cta:hover
	background-color $WHITE
	color $BLACK
	font-weight 700
	cursor pointer
	
	transition color $transitiontime ease, background-color $transitiontime ease, border $transitiontime ease

section
	width 450px

#links
	float left

	line-height 1.5em
	color #b9b9b9
	width 200px
	border-top 1px solid #000

	position absolute
	top 200px
	right 110px
	
#links div
	color $BLACK
	font-size 12px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px
	

#links ul
	list-style-type none
	font-weight 400
	font-size 14px
	
	padding 0px
	margin 0px

.content
	line-height 1.75em
	width 700px
	position relative
	top -225px
	background-color $WHITE
	padding 100px
	padding-bottom 0px
	
	box-shadow rgba(0, 0, 0, 0.15) 0px -5px 100px

.content section > div
	margin-bottom 4em

h1
	margin-bottom 1.5em
	
#classification-diagram
	position relative
	left -45px

	width 750px
	

footer 
	height 250px
	width 900px
	background-color $BLACK
	position relative
	left -100px
	
	display flex
	align-items center
	justify-content center
	
	box-sizing border-box
	padding 100px

.content footer .cta
	position relative
	top 0px
	left 0px
	background-color $WHITE
	color $BLACK
	font-weight 700
	
	border 1px solid transparent

.content footer .cta:hover
	color $WHITE
	background-color $BLACK
	font-weight 500
	
	border 1px solid $WHITE
	

