@require 'colors.styl'

$vertical_gap = 50px

body, html
	background white
	font-family "Roboto", "Helvetica", Arial, sans-serif
	font-size 16px

a
	text-decoration none
	color #30627A
	transition color 150ms ease
	
a:hover
	color #56A0C2

header > div,
header > nav
	display flex
	align-items center
	height 100%

header .left
	float left

header .right
	float right	

header
	width 100%
	height 100px
	
	font-size 24px
	color #404040
	
	border-bottom 1px solid $GRAY
	
header nav > div
	margin-right 50px

header.title
	font-weight 500

#logo
	width 100px
	height @width
	
.classyimage
	background-repeat no-repeat
	background-size cover
	background-image url("/images/eyewireBackground.jpg")
	width 100%
	height 250px
	
	position relative
	
.classyimage .tagline
	position absolute
	left 100px
	bottom $vertical_gap
	
	padding 20px
	
	font-size 18px
	background-color white
	
#links
	position relative
	top -3px
	float left
	margin-top $vertical_gap
	
	color #B9B9B9
	
	width 200px
	
#links ul
	list-style-type lower-greek

.content
	float left
	margin-left 100px
	margin-top $vertical_gap
	
	line-height 32px
	letter-spacing 0.5px
	
	width 6in

