@require 'colors.styl'
@require 'app.styl'

$transitiontime = 175ms

body, html
	background $WHITE
	font-family "Roboto", "Helvetica", Arial, sans-serif
	font-size 16px
	letter-spacing 0.25px

main
	display flex
	flex-direction column
	align-items center

#logo
	width 50px
	margin-left 25px
	margin-right 25px
	
	height @width
	
.classyimage
	background-repeat no-repeat
	background-size cover
	background-image url("/images/eyewireBackground.jpg")
	width 100%
	height 500px
	
	position relative

.content .tagline 
	height 75px
	
.content .tagline md-autocomplete-wrap
	position absolute
	top 0px
	left 0px
	width 100%
	height 100%
	box-shadow none
	
.content .tagline button
	width 75px !important

.content .tagline md-autocomplete-wrap input
	width 100%
	height 100%
	text-align center

.content .tagline md-autocomplete-wrap input.ng-not-empty,	
.content .tagline md-autocomplete-wrap input:focus
	text-align left
	padding-left 35px

.content .tagline md-autocomplete-wrap input::placeholder
	color $BLACK
	opacity 1

.content .tagline md-autocomplete-wrap input:focus::placeholder
	color transparent

.content .tagline,
.content .cta
	position absolute
	left 0px
	top -150px
	
	width 525px
	box-sizing border-box

	padding-left 100px
	padding-top 25px
	padding-bottom 25px
	padding-right 100px
	
	background-color $WHITE
	
	box-shadow rgba(0, 0, 0, 0.15) 0px -5px 100px

.content .cta
	left 550px
	width 350px
	
	text-align center
	background-color $BLACK
	color $WHITE
	
	font-weight 500
	
	text-transform uppercase
	letter-spacing 2px
	
	outline none
	
	transition color $transitiontime ease, background-color $transitiontime ease, border $transitiontime ease
	
.content .cta:hover
	background-color $WHITE
	color $BLACK
	font-weight 700
	cursor pointer
	
	transition color $transitiontime ease, background-color $transitiontime ease, border $transitiontime ease

section
	width 450px

#links
	float left

	line-height 1.5em
	color $BLACK
	width 200px
	border-top 1px solid $BLACK

	position absolute
	top 170px
	right 110px
	
#links div
	color $BLACK
	font-size 12px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px
	

#links ul
	list-style-type none
	font-weight 400
	font-size 14px
	
	padding 0px
	margin 0px

.content
	line-height 1.75em
	width 700px
	position relative
	top -225px
	background-color $WHITE
	padding 100px
	padding-bottom 0px
	
	box-shadow rgba(0, 0, 0, 0.15) 0px -5px 100px

h1
	line-height 1.5em
	margin-bottom 0.5em
	margin-top 1.25em
	
section h1.first
	margin-top auto
	
#classification-diagram
	position relative
	left -55px

	width 800px
	height 370px
	margin-bottom 50px

#classification-table
	width 677px
	
	border-collapse collapse

#classification-table th
	text-align left
	text-transform uppercase
	
#classification-table th:first-child
	padding-left 10px

#classification-table tr td
	vertical-align top

#classification-table tr td:first-child
	width 150px
	padding-left 10px
	
#classification-table tr td:last-child
	padding-right 10px
	
#classification-table tr td:nth-child(2)
	width 110px
	
#classification-table tbody tr:nth-child(odd)
	background-color #e0e0e0 // color of paper shadow


footer 
	height 250px
	width 900px
	background-color $BLACK
	position relative
	left -100px
	
	display flex
	align-items center
	justify-content center
	
	box-sizing border-box
	padding 100px
	
	margin-top 4em

.content footer .cta
	position relative
	top 0px
	left 0px
	background-color $WHITE
	color $BLACK
	font-weight 700
	
	border 1px solid transparent
	box-shadow none

.content footer .cta:hover
	color $WHITE
	background-color $BLACK
	font-weight 500
	
	border 1px solid $WHITE
	

