@require 'colors.styl'

infoheader
	position relative
	
infoheader > div
	position relative
	
infoheader h2
	outline none
	cursor pointer
	
infoheader .more
	position absolute
	top 3px
	right 5px
	
	width 10px
	height @width
	
	font-weight 600
	
	cursor pointer
	outline none
	

infoheader .rollup
	max-height 0px
	overflow-y hidden
	transition max-height 400ms ease-in-out
	
infoheader .rollup.onscreen
	max-height 200px
