@require 'colors.styl'

infoheader
	position relative
	
infoheader > div
	position relative
	
infoheader h2
	outline none
	cursor pointer
	
	border-top 1px solid $BLACK
	width 100%
	
	line-height 1.5em
	
	color $BLACK
	font-size 12px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px
	
	padding-top 5px
	margin-bottom 25px
	
infoheader .more
	position absolute
	top 5px
	right 5px
	
	width 10px
	height @width
	
	font-weight 600
	user-select none
	
	cursor pointer
	outline none
	

infoheader .rollup
	max-height 0px
	overflow-y hidden
	transition max-height 400ms ease-in-out
	
infoheader .rollup.onscreen
	max-height 200px
