@require 'colors.styl'
@require 'characterization.styl'
@require 'app.styl'
@require 'viewer.styl'
@require 'magicX.styl'

.viewer .main-menu
	@extend .viewer .sidebar
	
	width $SIDEBAR_LEFT_WIDTH
	max-width initial

	position absolute
	left initial
	right 450px
	
	min-width 100px
	
	box-shadow -2px 2px 5px 0 rgba(0, 0, 0, 0.26)

.viewer .fullscreen .main-menu 
	width 100vw

.viewer .main-menu div
	overflow-y auto
	overflow-x hidden

.viewer .menu
	padding 10px

.viewer .main-menu div.title
	@extend .header
	
	position relative

	font-size 14px
	
	background-color white

	border-bottom none
	box-shadow rgba(0,0,0,0.15) 0px 0px 50px
	height 75px
	box-sizing border-box
	
	display flex
	align-items center
	justify-content flex-end
	
	font-size 16px
	text-transform none

	flex-shrink 0
	
	padding-left 25px
	padding-right 10px
	
	z-index 1
	
.viewer .main-menu div.title .words
	position absolute
	left 25px
	top calc((75px - 1.5em) / 2)
	
.viewer .main-menu .close-menu 
	display none
	
.viewer .fullscreen .close-menu
	display block
	
.viewer .main-menu .close-menu hr
	@extend .more-info hr 
	
	margin-top -2px
	position relative
	top 2px
	transform-origin center center
	
.viewer .main-menu .close-menu hr:first-of-type
	transform rotate(45deg)

.viewer .main-menu .close-menu hr:last-of-type
	transform rotate(-45deg)

.viewer .main-menu li
	outline none
	line-height 25px

.viewer .menu,
.viewer .browse
	display none

.viewer .menu.onscreen,	
.viewer .browse.onscreen
	display block

.viewer .menu .actions
	display flex
	flex-direction row 
	justify-content space-between
	flex-wrap wrap

	height 110px

.viewer .fullscreen .menu button
	margin-left 10px

.viewer .menu button 
	text-align center
	background-color transparent
	border 1px solid #d9d9d9
	color $BLACK
	
	font-size 12px

	padding 10px
	width 165px
	height 45px

	border-radius 3px

	box-sizing border-box
	
	font-weight 500
	
	cusror pointer
	outline none

	text-transform uppercase
	letter-spacing 2px
	
	transition color $transitiontime ease, background-color $transitiontime ease, border $transitiontime ease
	
.viewer .menu button:hover
	background-color $BLACK
	color $WHITE
	font-weight 700
	cursor pointer
	
	transition color $transitiontime ease, background-color $transitiontime ease, border $transitiontime ease

.viewer .browse .navigation
	margin-top 10px
	margin-left 10px
	margin-right 10px
	
.viewer .browse .navigation .flex
	flex-direction row
	
.viewer .browse .navigation .triangle
	font-size 8px
	margin-left 5px
	margin-right 5px
	
	position relative
	top 1px

.viewer .gallery
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-around	

.viewer .gallery .item:first-child
	margin-top 5px

.viewer .gallery .item
	cursor pointer
	outline none
	
	padding 15px
	border 1px solid #1a1a1a26
	width 290px
	min-height 362px 
	
	cursor pointer
	outline none
	border-radius 1%
	background white
	box-shadow rgba(0,0,0,0.15) 0px 1px 3px
	box-sizing border-box
	margin-top 10px
	margin-right 10px
	margin-left 10px
	transition background-color 150ms ease, border 150ms ease
	
	position relative

.viewer .gallery .item:hover
	border 1px solid hsla(40, 50%, 74%, 0.95)

.viewer .gallery .item .notsecurelyknown
	color gray

.viewer .gallery .item .header
	margin-bottom 15px
	text-transform none
	margin-left 5px

.viewer .gallery .item .count
	font-size 14px
	font-weight 600
	
	position absolute
	top 16px
	right 25px
		
.viewer .close-button
	display none

@media only screen and (max-width: 500px)
	.viewer .main-menu
		width 100vw
		
	.viewer .fullscreen .menu button 
		margin-left 0px

	.viewer .fullscreen-button
		display none
		
	.viewer .main-menu .close-menu 
		display block

	.viewer .close-button
		display block
