@require 'colors.styl'

.search section.whitepaper
	position relative
	top -400px
	
	
	width 700px

	padding-left 100px
	padding-right 100px
	
.search md-content
	text-align left
	color $BLACK 
	background-color $WHITE 
	
.search md-autocomplete
	max-width 400px

.search .switches
	display flex
	flex-direction row
	justify-content flex-start
	
	border-left 2px solid #9E9E9E
	
	margin-top 10px
	margin-left 1px
	
.search .instructions
	width 200px
	top 197px

.search .results
	max-width 100%
	min-height 200px
	padding-top 100px
	padding-bottom 100px
	
.search .results-matches
	display flex
	flex-direction row
	flex-wrap wrap
	
.search h3
	margin-left 10px
	text-transform uppercase
	letter-spacing 2px

.search .results md-card
	position  relative
	width 215px
	height 250px

.search .results md-card-title
	padding 10px
	
.search md-card-actions button
	width 92%

	position absolute
	bottom 10px
	right 0px

	
.search footer a
	height 100px
	width @height
	
	