@require 'colors.styl'

.search section.whitepaper
	position relative
	top -400px
	
	
	width 700px

	padding-left 100px
	padding-right 100px
	
.search md-content
	text-align left
	color $BLACK 
	background-color $WHITE 
	
.search md-autocomplete
	max-width 400px

.search .switches
	display flex
	flex-direction row
	justify-content flex-start
	
	border-left 2px solid #9E9E9E
	
	margin-top 10px
	margin-left 1px
	
.search .instructions
	width 200px
	top 197px

.search .results
	min-height 200px
	
.search footer a
	height 100px
	width @height
	
	