@require "colors.styl"
@require "app.styl"

header > div,
header > nav
	display flex
	align-items center
	height 100%

header .left
	float left
	padding-right 50px
	
	cursor pointer
	
header .left a .title 
	padding-bottom 0px
	transition border-bottom 150ms ease
	

header .right
	float right	
	
	line-height 2.5em
	text-transform uppercase
	letter-spacing 2px
	font-weight 500
	
	font-size 12px
	

header
	width 100%
	height $HEADER_HEIGHT
	
	font-weight 500

	color #404040
	
	border-bottom 1px solid $GRAY


header nav > div
	padding-left 25px
	padding-right 25px
	cursor pointer
	
	height 100%
	display flex
	align-items center
	
header nav > div a	
	transition border-bottom 150ms ease
	border-bottom 2px solid transparent

header nav > div:hover a
	border-bottom 2px solid $BLACK
	
header nav > div:last-child
	padding-right 50px

header.title
	font-weight 500