@require 'colors.styl'
@require 'characterization.styl'

header.viewer
	position absolute
	top 0px
	left 0px

	z-index 10
	border-bottom none

	display flex
	align-items center
	
	width auto

header.viewer #logo
	background-color $WHITE
	margin-top 0px
	margin-left 10px
	margin-right 5px

	border-radius 2px
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)
	
	background-image url('/images/ew-black.svg')
	background-position center center
	background-size 70%
	background-repeat no-repeat
	
	cursor pointer

header.viewer a .title
	color $WHITE

main.viewer
	height 100vh
	background-color $BLACK

	position relative
	
	overflow hidden

.viewer viewport
	width 100%
	height 100%

.viewer .search a
	color $WHITE
	text-transform uppercase
	font-size 12px
	font-weight 500
	letter-spacing 1px
	position relative
	top 5px

.viewer .search-action
	height 35px
	width 50px
	position absolute
	top 21px
	right 55px
	vertical-align center
	display flex
	align-items center
	justify-content center
	border-right 2px solid rgba(0, 0, 0, 0.15)
	color black
	
	background-image url("/icons/search.svg")
	background-repeat no-repeat
	background-position center center
	background-size 60%

	opacity 0.5
	
	outline none
	
	cursor pointer
	transition opacity 150ms ease
    
.viewer .search .advanced
	height 50px
	width @height
	
	position absolute
	top 15px
	right 5px
	
	background-image url("/icons/advanced-search.svg")
	background-repeat no-repeat
	background-position center center
	background-size 60%
	
	opacity 0.5
	
	cursor pointer
	transition opacity 150ms ease

.viewer .search .search-action:hover,
.viewer .search .advanced:hover
	opacity 0.75


.viewer md-autocomplete
	width 375px
	height 50px
	
.viewer md-autocomplete md-autocomplete-wrap
	height 49px
	
.viewer md-autocomplete input,
.viewer md-autocomplete input:not(.md-input)
	height 50px
	
.viewer section.glider
	height 100vh
	width calc(95px + 33vw)
	
	position absolute
	right -33vw
	
	pointer-events none
	
	transition right 400ms ease-in-out, width 400ms ease-in-out

.viewer section.glider.fullscreen
	width calc(95px + 100vw)
	

$width_trigger = unit($MIN_SIDEBAR_WIDTH / .33, 'px')
@media all and (max-width: $width_trigger)
	.viewer section.glider
		width $MIN_SIDEBAR_WIDTH + 95px
		right -1 * $MIN_SIDEBAR_WIDTH
		
	.viewer section.glider.fullscreen
		width calc(95px + 100vw)
		right -100vw

.viewer section.glider.fullscreen
	right -100vw

.viewer section.glider.fullscreen.onscreen,
.viewer section.glider.onscreen
	right 0px
	
.viewer section.glider *
	pointer-events auto

.viewer .controls
	position absolute
	bottom 5px
	left 20px
	
	color $WHITE
	font-size 12px
	text-transform uppercase
	letter-spacing 1px
	font-weight 500

	width 80px
	text-align left

.viewer .controls .group .title
	margin-bottom 5px
	text-align left

.viewer .controls .md-button,
.viewer .controls .md-button.md-raised:not([disabled])
	background-color transparent
	box-shadow none
	
	background-repeat no-repeat
	background-position center center
	background-size 65%
	
.viewer .controls .md-button:hover
.viewer .controls .md-button.md-raised:not([disabled]):hover,
.viewer .controls .md-button.md-raised:not([disabled]).active
	background-color $WHITE
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)

.viewer .controls .group
	margin-bottom 25px
	
.viewer .controls .group:last-child
	margin-bottom 15px
	

.viewer .controls .orthographic
	background-image url("/icons/orthographic-white.svg")	

.viewer .controls .orthographic:hover,
.viewer .controls .orthographic.active
	background-image url("/icons/orthographic-black.svg")	

.viewer .controls .perspective
	background-image url("/icons/perspective-white.svg")

.viewer .controls .perspective:hover,
.viewer .controls .perspective.active
	background-image url("/icons/perspective-black.svg")


.viewer .controls .top
	background-image url("/icons/view-top-white.svg")	

.viewer .controls .top:hover,
.viewer .controls .top.active
	background-image url("/icons/view-top-black.svg")	

.viewer .controls .side
	background-image url("/icons/view-side-white.svg")

.viewer .controls .side:hover,
.viewer .controls .side.active
	background-image url("/icons/view-side-black.svg")


.viewer .more-info
	position absolute
	top 4px
	left 15px
	
.viewer .more-info.sidebar-open
	right 715px

.viewer .bottom-left
	position absolute
	bottom 20px
	left 20px
	
	font-size 12px
	text-transform uppercase
	letter-spacing 2px
	
	color $WHITE
	
	line-height 2em
		
.viewer .progress-indicator
	opacity 0
	transition opacity 150ms ease

.viewer .progress-indicator.onscreen
	opacity 1

viewport 
	user-select none
	


	


