@require 'colors.styl'
@require 'app.styl'
@require 'characterization.styl'
@require 'mainmenu.styl'

.viewer .searchTools
	position absolute
	top 5px
	left s('calc(%s + 10px)', $SIDEBAR_LEFT_WIDTH)

	z-index 10
	border-bottom none

	display flex
	align-items center
	
	width auto
	
.viewer .fullscreen .searchTools
	left calc(100vw + 10px)
	
.viewer .searchTools .md-button
	position relative
	top 0px
	left 0px
	margin-right 15px
	
.viewer .searchTools .md-button svg
	transform scale(1.4)
	
.viewer .searchTools .md-button path
	fill $BLACK

.viewer .searchTools #logo
	background-color $WHITE
	margin-top 0px
	margin-left 0px
	margin-right 5px

	border-radius 2px
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)
	
	background-image url('/images/ew-black.svg')
	background-position center center
	background-size 70%
	background-repeat no-repeat
	
	cursor pointer
	
	outline none

.viewer .searchTools a .title
	color $WHITE

main.viewer
	height 100vh
	background-color $BLACK

	position relative
	
	overflow hidden

.viewer viewport
	width 100%
	height 100%

.viewer .search a
	color $WHITE
	text-transform uppercase
	font-size 12px
	font-weight 500
	letter-spacing 1px
	position relative
	top 5px

.viewer .search-action
	height 35px
	width 50px
	position absolute
	top 16px
	right 0px
	vertical-align center
	display flex
	align-items center
	justify-content center
	
	color black
	
	background-image url("/icons/search.svg")
	background-repeat no-repeat
	background-position center center
	background-size 60%

	opacity 0.5
	
	outline none
	
	cursor pointer
	transition opacity 150ms ease
    
.viewer .search .advanced
	position absolute
	top 15px
	right -102px
	
	color rgba($WHITE, 0.55)
	background-color $BLACK
	border 1px solid rgba($WHITE, 0.5)
	
	height 40px
	display flex
	align-items center
	box-sizing border-box
	padding 15px
	
	outline none
	
	cursor pointer
	
	user-select none
	
	transition color 150ms ease, border-color 150ms ease

.viewer .search .advanced:hover
	color rgba($WHITE, 0.8)
	border-color rgba($WHITE, 0.75)

.viewer .search .search-action:hover
	opacity 0.75

museum-md-autocomplete
	background-color white

.viewer museum-md-autocomplete
	width 375px
	height 50px
	
.viewer museum-md-autocomplete md-autocomplete-wrap button
	right 40px

.viewer museum-md-autocomplete md-progress-linear
	display none
	
.viewer museum-md-autocomplete md-autocomplete-wrap
	height 49px
	
.viewer museum-md-autocomplete input,
.viewer museum-md-autocomplete input:not(.md-input)
	height 50px

.viewer section.glider
	height 100vh
	width $SIDEBAR_RIGHT_WIDTH
	
	position absolute
	top 0px
	
	pointer-events none
	
	transition left 400ms ease-in-out, right 400ms ease-in-out, width 400ms ease-in-out

.viewer section.glider.right
	right -1 * $SIDEBAR_RIGHT_WIDTH
	width s('calc(95px + %s)', $SIDEBAR_RIGHT_WIDTH)

.viewer section.glider.right.fullscreen
	right -100vw
	width calc(95px + 100vw)
	
.viewer section.glider.left
	left -1 * $SIDEBAR_LEFT_WIDTH
	width s('calc(450px + %s)', $SIDEBAR_LEFT_WIDTH)
	
.viewer section.glider.left.fullscreen
	left -100vw
	width calc(450px + 100vw)

$width_trigger = unit($MIN_SIDEBAR_WIDTH / .33, 'px')
@media all and (max-width: $width_trigger)
	.viewer section.glider.right
		width $MIN_SIDEBAR_WIDTH + 95px
		right -1 * $MIN_SIDEBAR_WIDTH
		
	.viewer section.glider.right.fullscreen
		width calc(95px + 100vw)
		right -100vw

.viewer section.glider.right.fullscreen.onscreen,
.viewer section.glider.right.onscreen
	right 0px
	
.viewer section.glider.left.fullscreen.onscreen,
.viewer section.glider.left.onscreen
	left 0px
	
.viewer section.glider *
	pointer-events auto

.viewer .controls
	position absolute
	bottom 5px
	left 20px
	
	color $WHITE
	font-size 12px
	text-transform uppercase
	letter-spacing 1px
	font-weight 500

	width 80px
	text-align left

.viewer .controls .group .title
	margin-bottom 5px
	text-align left

.viewer .controls .md-button,
.viewer .controls .md-button.md-raised:not([disabled])
	background-color transparent
	box-shadow none
	
	background-repeat no-repeat
	background-position center center
	background-size 65%
	
.viewer .controls .md-button:hover
.viewer .controls .md-button.md-raised:not([disabled]):hover,
.viewer .controls .md-button.md-raised:not([disabled]).active
	background-color $WHITE
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)

.viewer .controls .group
	margin-bottom 25px
	
.viewer .controls .group:last-child
	margin-bottom 15px
	

.viewer .controls .orthographic
	background-image url("/icons/orthographic-white.svg")	

.viewer .controls .orthographic:hover,
.viewer .controls .orthographic.active
	background-image url("/icons/orthographic-black.svg")	

.viewer .controls .perspective
	background-image url("/icons/perspective-white.svg")

.viewer .controls .perspective:hover,
.viewer .controls .perspective.active
	background-image url("/icons/perspective-black.svg")


.viewer .controls .top
	background-image url("/icons/view-top-white.svg")	

.viewer .controls .top:hover,
.viewer .controls .top.active
	background-image url("/icons/view-top-black.svg")	

.viewer .controls .side
	background-image url("/icons/view-side-white.svg")

.viewer .controls .side:hover,
.viewer .controls .side.active
	background-image url("/icons/view-side-black.svg")


.viewer .more-info
	position absolute
	top 4px
	left 15px
	
.viewer .more-info.sidebar-open
	right 715px

.viewer .bottom-left
	position absolute
	bottom 20px
	left s('calc(%s + 35px)', $SIDEBAR_LEFT_WIDTH)
	
	font-size 12px
	text-transform uppercase
	letter-spacing 2px
	
	color $WHITE
	
	line-height 2em
	
.viewer .fullscreen .bottom-left
	left calc(100vw + 35px)

.viewer .bottom-left a
	color $WHITE
	
.viewer .bottom-left a:hover
	padding-bottom 5px
	border-bottom 1px solid $WHITE

.viewer .progress-indicator
	opacity 0
	transition opacity 150ms ease

.viewer .progress-indicator.onscreen
	opacity 1
	
.viewer .progress-indicator .cell-type
	text-transform none

viewport 
	user-select none
	


	


