<!doctype html>
<html lang="en" ng-app="threeViewer">
<head>
    <meta charset="utf-8">
    <title>ThreeJS with AngularJS</title>
</head>
<body>
    <div ng-controller="SceneControl">
        <div>
            <div>
                Cell ID <input type="number" ng-model="cellID" />
                <button ng-click="addCell()">Add</button>
                <button ng-click="removeCell()">Remove</button>
            </div>
            <div>
                Camera 
                <input type="number" ng-model="camera.x" ng-change="moveCamera()"/>
                <input type="number" ng-model="camera.y" ng-change="moveCamera()"/>
                <input type="number" ng-model="camera.z" ng-change="moveCamera()"/>
            </div>
        </div>
    </div>

    <!--A directive is the reusable package created with AngularJS-->
    <!--This directive wraps Three JS-->
    <div three-viewport></div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-mocks.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>

    <!--three.js-->
    <script src="js/lib/Three.js"></script>
    <script src="js/lib/Detector.js"></script>
    <script src="js/lib/OrbitControls.js"></script>
    <script src="js/lib/Segment.js"></script>

</body>
</html>
