<div  layout="column" ng-cloak="" class="viewer" layout-fill>

  <section layout="row" flex="grow">
    <md-content layout="row" flex="grow">
    
      <md-button class="md-fab md-primary" id="back" aria-label="back" ng-click="goBack()">
        <md-icon md-svg-icon="assets/icons/ic_arrow_back_white_36px.svg"></md-icon>
      </md-button>


      <div layout="row" layout-align="center end"  style="position: absolute; bottom: 0px; left:0px; height: 0px;" 
        ng-style="{ 'right' : isOpenRight() ? width : 0 }" flex="none">
        <md-fab-speed-dial
          md-direction="up" 
          md-open="isCamOpen" 
          ng-class="{ 'md-hover-full': isCamOpen }" 
          class="md-fling"
          ng-mouseenter="isCamOpen=true" 
          ng-mouseleave="isCamOpen=false">


            <md-fab-trigger>
              <md-button aria-label="menu" class="md-primary md-raised">
                <md-tooltip md-direction="left" md-visible="tooltipVisible">switch camera</md-tooltip>
                <md-icon md-svg-src="assets/icons/ic_switch_camera_white_36px.svg" aria-label="switch camera"></md-icon>
              </md-button>
            </md-fab-trigger>

            <md-fab-actions>
              <div ng-repeat="cam in cameras">
                <md-button aria-label="{{cam.name}}" class="md-primary md-raised md-mini" ng-click="camClick(cam)">
                  <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
                    {{cam.name}}
                  </md-tooltip>

                  <md-icon md-svg-src="{{cam.icon}}" aria-label="{{cam.name}}"></md-icon>
                </md-button>
              </div>
            </md-fab-actions>
        </md-fab-speed-dial>


        <md-fab-speed-dial
          md-direction="up" 
          md-open="isViewOpen" 
          ng-class="{ 'md-hover-full': isViewOpen }" 
          class="md-fling"
          ng-mouseenter="isViewOpen=true" 
          ng-mouseleave="isViewOpen=false">


            <md-fab-trigger>
              <md-button aria-label="menu" class="md-primary md-raised">
                <md-tooltip md-direction="right" md-visible="tooltipVisible">set view</md-tooltip>
                <md-icon md-svg-src="assets/icons/ic_remove_red_eye_white_36px.svg" aria-label="set view"></md-icon>
              </md-button>
            </md-fab-trigger>

            <md-fab-actions>
              <div ng-repeat="view in views">
                <md-button aria-label="{{view.name}}" class="md-primary md-raised md-mini" ng-click="viewClick(view)">
                  <md-tooltip md-direction="right" md-visible="tooltipVisible" md-autohide="false">
                    {{view.name}}
                  </md-tooltip>

                  <md-icon md-svg-src="{{view.icon}}" aria-label="{{view.name}}"></md-icon>
                </md-button>
              </div>
            </md-fab-actions>
        </md-fab-speed-dial>




        <md-button ng-click="toggle()" class="md-primary md-raised"  
          style="position: absolute; right: 0px; bottom:0px"
          aria-label="toggle menu" >
          <md-icon ng-hide="isOpenRight()" md-svg-icon="assets/icons/ic_chevron_left_white_36px.svg" ></md-icon>
          <md-icon ng-hide="!isOpenRight()"  md-svg-icon="assets/icons/ic_chevron_right_white_36px.svg"></md-icon>
        </md-button>
      </div>
     

      <viewport layout="row" flex="grow"></viewport>

      <div id="dragbar" ng-style="{ 'right' : width-5 }" ng-hide="!isOpenRight()" ng-mousedown="dragSidenav($event)"></div>
      <md-sidenav layour="column" ng-style="{ 'width' : width }" class="md-sidenav-right md-whiteframe-z2" 
        md-component-id="right" style="position: fixed !important">

          
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">info</h1>
        </md-toolbar>

        <md-content  flex="grow" >
          <div ng-controller="chartCtrl" style="margin: 5px; padding-right: 25px">
            <chart bindto-id="chart-stratification"  chart="chart"  
            on-legend-click="onLegendClick(cell_id)"
            on-legend-mouseover="onLegendMouseover(cell_id)"
            on-legend-mouseout="onLegendMouseout(cell_id)"
            init="initChart()"></chart>
          </div> 
          
          <div flex="grow" style="text-align:center; margin-top:60px;">
            <h2 style="margin-bottom:10px;"><span style="text-decoration: underline;">Wiki Overview</span></h2>

            <p style="max-height:500px;line-height: 150%; width:90%;  margin: 0 auto; padding-bottom:20px;">
              We do not currently have a wiki page for this class yet.
              <br>
              <br>
              <a class="btn btn-info" target="_blank" href="http://wiki.eyewire.org:88/index.php?title={{ set.name }}&action=edit">
                Help Contribute!
              </a>
            </p>
          </div>

        </md-content>

      </md-sidenav>

    </md-content>
  </section>
</div>

