<form novalidate name=addSet method=post ng-controller=addController>
    <header>
        <button type=button class="btn x" sp-tap=modal() sp-kbd="'esc'"></button>
        <input type=submit class="btn action" ng-disabled=!name&&!id ng-click=(name&&addNew(name)||id&&addExisting(id))&&modal() value={{_.add}}>
        <h2>{{_.addToSet}}</h2></header>
    <ul class=list>
        <li>
            <label for=set-name>{{_.addToNewSet}}</label>
            <input class="input block" id=set-name name=set-name ng-model=name autocomplete=off placeholder={{_.nameSet}}>
        </li>
        <li>
            <label for=selectSet>{{_.addToExistingSet}}</label><span class="select-wrap block"><select name=selectSet ng-model=id ng-options="a._id as a.name for a in s"></select><span class="select btn block">{{id&&sets[id].name||_.selectSet}}</span></span>
        </li>
    </ul>
</form>