<div ng-controller="CatalogCtrl">

  <div sp-if="!cells" class="center">

    <div class="placeholder">
        <i class="icon-book"></i>
        <h6>{{_.emptyCatalog}}</h6>
        <p>{{_.aboutCatalog}}</p>
    </div>

  </div>
<!--     <p ng-show="cells.length" class="input-wrap space" ng-init="f=0">
        <i class="btn simple icon-search" sp-tap="f=f+1"></i>
        <input sp-focus="f" class="input search block" ng-model="query" placeholder="{{_.filtercells}}">
        <i class="btn simple icon-clear" sp-tap="query='';f=f+1" ng-show="query"></i>
    </p>
    <menu>

        <li ng-repeat="cell in cells | filter:query | orderBy:'name'" ng-class="{on:cell.id==r.cellId}">
          <h3 class="trim" sp-tap="p('catalog/'+cell.id)">{{cell.name}}</h3>
        </li>

    </menu> -->

</div>