<header>
    <button class="btn x" sp-tap=modal() sp-kbd="'esc'"></button>
    <h2>{{_.keyboard}}</h2></header>
<ul class=list>
    <li><kbd>j</kbd>&nbsp;{{_.nextSongOrSet}}</li>
    <li><kbd>k</kbd>&nbsp;{{_.prevSongOrSet}}</li>
    <li><kbd>c</kbd>&nbsp;{{_.toggleChords}}</li>
    <li><kbd>-</kbd>/<kbd>=</kbd>&nbsp;{{_.changeFontSize}}</li>
    <li><kbd>f</kbd>&nbsp;{{_.toggleFullscreen}}</li>
    <li><kbd>i</kbd>&nbsp;{{_.toggleInfo}}</li>
    <li><kbd>n</kbd>&nbsp;{{_.newSong}}</li>
    <li><kbd>h</kbd>&nbsp;{{_.toggleHelp}}</li>
    <li><kbd>,</kbd>&nbsp;{{_.toggleSettings}}</li>
    <li><kbd>esc</kbd>&nbsp;{{_.esc}}</li>
</ul>