<header>
    <button class="btn x" sp-tap=modal() sp-kbd="'esc'"></button>
    <button class="btn action" sp-tap=modal()>{{_.done}}</button>
    <h2>{{_.shareSet}}</h2></header>
<ul class=list>
    <li class=collaborator ng-repeat="u in [owner].concat(c)">
        <div class="img fl"><img width=30 height=30 ng-src="https://gravatar.com/avatar/{{md5(u)}}?s=60&d=blank"></div><span class=fr>{{owner==u&&'owner'||e.indexOf(u)>-1&&'editor'||'viewer'}}</span>
        <div class=trim>{{u}}</div>
    </li>
</ul>