 <div class=icon-songpane ng-controller=uiController>
<!--     Menu on the right with song details -->    
    <div id=song-view ng-class={cr:cr,ic:r.songId,fs:fs}>
        <aside>
            <article id=info>
                <h1>{{songs[r.songId].title}}</h1>
                <ul class=list>
                    <li>
                        <div class=group>
                            <a class="btn icon-add flex" sp-tap="modal('views/add.html')" id=add_to_set></a>
                            <a sp-tap="editSong(true)" class="btn icon-copy flex"></a>
                            <a sp-if=isSongOwner() sp-tap="editSong()" class="btn icon-pencil flex"></a>
                            <a sp-if=isSongOwner() sp-tap="modal('views/confirm.html')" class="btn danger icon-bin flex"></a>
                        </div>
                    </li>
                    <li>
                        <q>{{_.key}}</q>
                        <span class=select-wrap sp-if=canChangeKey()>
                            <select ng-change="updateKey(k)+clean('k')" ng-model=k ng-options="k for k in getKeys()"></select>
                            <span class="select btn">{{k}}</span>
                        </span>
                        <span sp-if=!canChangeKey()>{{k}}</span>
                        &nbsp;({{songs[r.songId].key}})</li>
                    <li>
                        <q>{{_.tempo}}</q>
                        {{songs[r.songId].tempo}}
                    </li>
                    <li>
                        <q>{{_.signature}}</q>
                        {{songs[r.songId].signature}}</li>
                    <li>
                        <q>{{_.artist}}</q>
                        <p>{{songs[r.songId].artists.join(', ')}}</p>
                    </li>
                    <li class=drop sp-tap="c=!c" ng-class="{'active':c}">
                        <q>{{_.copyright}}</q>
                        <p ng-show=c>{{songs[r.songId].copyright}}</p>
                    </li>
                </ul>
            </article>
        </aside>
        <section id="sheet">
            <div id=space sp-tap=nextSong() sp-kbd="['space', 'right', 'j', 'down', 'pagedown']" ng-class=spaceClass>
<!--                 <article sp-slide=songSlide>
                    <div ng-class="{m:s.fontSize==1,l:s.fontSize==2,h:s.hideChords}" class=song-wrap>
                        <p ng-repeat="part in model" ng-class="'part-'+part.type" ng-bind-html-unsafe=part.text></p>
                    </div>
                </article> -->
                
                    <!--A directive is the reusable package created with AngularJS-->
                    <!--This directive wraps Three JS-->
                    <div three-viewport style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%;"></div>
            </div>
            <button class=overlaybutton sp-tap="p(r.setId&&'set/'+r.setId + '/'||r.view+'/')" id="back-button">
                <span class="overlaybutton-inner icon-back"></span>
            </button>
            <button class=overlaybutton sp-tap="fs=!fs" sp-kbd="'f'" id="fullscreen-button">
                <span class=overlaybutton-inner ng-class="fs&&'icon-min'||'icon-max'"></span>
            </button>
            <button class=overlaybutton sp-tap="cr=!cr" sp-kbd="'i'" id="aside-button">
                <span class="overlaybutton-inner icon-info"></span>
            </button>
        </section>
    </div>
    <aside id=menu>
        <!-- Dark menu on the left -->
        <ul> 
            <li sp-tap="p('catalog/')" sp-kbd="'b'" ng-class="{open: r.view == 'catalog'}"><i class=icon-book></i><span>{{_.catalog}}</span></li>
            <li sp-tap="p('sets/')" ng-class="{open: r.view == 'sets'}"><i class=icon-sets></i><span>{{_.sets}}</span></li>
            <li sp-tap="p('search/')" sp-kbd="'/'" ng-class="{open: r.view == 'search'}"><i class=icon-search></i><span>{{_.search}}</span></li>
            <li sp-tap="modal('views/settings.html')" sp-kbd="[',', 'command+,', 'control+,']"><i class=icon-cog></i><span>{{_.settings}}</span></li>
        </ul>
    </aside>
    <section id=nav class="fill w" ng-class={open:menu}>
        <header>
            <div class=b sp-tap="toggleState('menu')" sp-kbd="'m'" ng-class={on:menu}><i class=icon-more></i></div>
            <div class=b sp-tap="modal('views/new.html')" sp-kbd="'n'" ng-class="{on:modal.isOn('new')}"><i class=icon-plus></i></div>
            <h1 sp-tap="p('sets/')" sp-kbd="'s'">
            <b>Cell</b>Gallery</h1>
            </header>
        <div id=view ng-class=navClass>
                <article sp-slide=viewSlide id={{model}} ng-include="'views/'+model + '-template.html'"></article>
            </div>
        </section>
    </div>