#splash {

  height: 80vh;
  width: 80vw;
  background-color: #2582BF;
  margin:0;

  h1 {
    font-family: 'NeutraBold', Arial;
    font-size: 70px;
    color: #f8f8f8;
    text-align:center;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: absolute;
    width: 100%;
  }

  button {
    bottom: 5px;
    right: 5px;
    position: absolute;
    width: 80px;
    z-index: 10;
  }

  a {
    top: 18%;
    border: 2px solid transparent;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 6px 10px 8px 10px;
    float:center;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
    color: black;
  }

  img {
    display: block;
    position:absolute;
    width: 100%;
    bottom:0px;
    left:0px;
  }
}