<form novalidate id="new-cell" name="newcell" method="post" ng-controller="NewController">
  <header>
    <button type="button" class="btn x" sp-tap="modal();" sp-kbd="'esc'"></button>
    <input class="btn action" type="submit" ng-disabled="cells.getIndex(cell.id) == -1" 
           ng-click="newCell(cell)&&modal()" value="{{_.save}}">
    <h2>{{_.newCell}}</h2>
  </header>
  <fieldset>
    <input class="input" ng-model="cell.id" name="cell-id" sp-focus="" autocomplete="true" required placeholder="{{_.id}}">
  </fieldset>
</form>