<div ng-controller="SearchController">
    <div class="center" ng-hide="results.length">
        <div class="placeholder"><i ng-show="!n class=icon-search"></i>
            <h6 ng-show=n>{{s&&_.searching||_.noResults}}</h6></div>
    </div>
    <header>
        <form novalidate name="searchForm" method="post" class="input-wrap"><i class="btn simple icon-search" sp-tap="f=f+1"></i>
            <input required sp-focus="f" class="input search block" ng-model="query" placeholder={{_.searchcells}}>
            <input type=submit ng-click=search(query) class=invi>
            <i class="btn simple icon-clear" sp-tap="query='';f=f+1" ng-show="query"></i>
        </form>
    </header>
    <menu>
        <li ng-repeat="cell in results" ng-class="{on:cell.id==r.cellId}">
            <h3 class=trim sp-tap="p('search/'+cell.id)">{{cell.name}}</h3>
        </li>
    </menu>
</div>