<header>
  <button class="btn x" sp-tap="modal();" sp-kbd="'esc'"></button>
  <h2>{{_.settings}}</h2>
</header>
<ul class=list ng-controller="SettingsController">
  
  <li sp-tap="toggle('toggleCamera')">
     <span>{{_.toggleCamera}}</span>
     <div class="toggle fr" ng-class={on:settings.toggleCamera}></div>
  </li>
  
  <li sp-tap="toggle('toggleGround')">
     <span>{{_.toggleGround}}</span>
     <div class="toggle fr" ng-class={on:settings.toggleGround}></div>
  </li>
  
  <li sp-tap="toggle('toggleAxes')">
     <span>{{_.toggleAxes}}</span>
     <div class="toggle fr" ng-class={on:settings.toggleAxes}></div>
  </li>
  
  <li sp-tap="toggle('toggleXZGrid')">
     <span>{{_.toggleXZGrid}}</span>
     <div class="toggle fr" ng-class={on:settings.toggleXZGrid}></div>
  </li>
  
  <li sp-tap="toggle('toggleYZGrid')">
     <span>{{_.toggleYZGrid}}</span>
     <div class="toggle fr" ng-class={on:settings.toggleYZGrid}></div>
  </li>
  
  <li sp-tap="toggle('toggleXYGrid')">
     <span>{{_.toggleXYGrid}}</span>
     <div class="toggle fr" ng-class={on:settings.toggleXYGrid}></div>
  </li>

  <li>
    <span>{{_.fontSize}}</span>
    <div class=group>
      <span sp-tap="setFont(0)" class="btn flex" ng-class={on:!settings.fontSize}>{{_.small}}</span>
      <span sp-tap="setFont(1)" class="btn flex" ng-class="{on:settings.fontSize==1}">{{_.medium}}</span>
      <span sp-tap="setFont(2)" class="btn flex" ng-class="{on:settings.fontSize==2}">{{_.large}}</span>
    </div>
  </li>

  <div ng-controller="LoginController">
    <div ng-if='!logged'>
    <button sp-tap="loginOauth('eyewire')" class="btm block"> Login with Eyewire </button>

    <div ng-if="logged">
      <span>{{_.disconnectAccount}}</span>
        <button class="btn danger block" sp-tap="logout()&&modal()">{{_.disconnect}}</button>
    </div>
  </div>

  
  <li>
    <q>v0.0.1</q>
  </li>
</ul>