<div class="icon-cellpane" ng-controller="UIController">
    
  <div id="cell-view" ng-class="{cr:cr, ic: r.cellId||(set&&set.children_are_cells) ,fs:fs}">

    <section id="sheet">
    
      <div id="space" sp-kbd="['space', 'right', 'j', 'down', 'pagedown']" ng-class="spaceClass" ng-controller="3DController">
        <three-viewport></three-viewport>
      </div>
    
      <button class="overlaybutton" sp-tap="p(r.setId&&'set/'+r.setId + '/'||r.view+'/')" id="back-button">
        <span class="overlaybutton-inner icon-back"></span>
      </button>
      
      <button class="overlaybutton" sp-tap="fs=!fs;fullscreen()" sp-kbd="'f'" id="fullscreen-button">
          <span class="overlaybutton-inner" ng-class="fs&&'icon-min'||'icon-max'"></span>
      </button>
      
      <button class="overlaybutton" sp-tap="cr=!cr" sp-kbd="'i'" id="aside-button">
          <span class="overlaybutton-inner icon-info"></span>
      </button>
    </section>
  
    <aside resizable r-directions="['left']" r-min-width="500" >
      <article id="info">
          <h1>{{cells[cells.getIndex(r.cellId)].name}}</h1>
          
          <div ng-controller="StratificationController" style="margin-right: 5px">
            <chart bindto-id="chart-stratification"  chart="chart"  
            on-legend-click="onLegendClick(cellId)"
            on-legend-mouseover="onLegendMouseover(cellId)"
            on-legend-mouseout="onLegendMouseout(cellId)"></chart>
          </div> 

          <ul class="list">
              <li>
                  <div class="group">
                    <a sp-if="auth.isAdmin()" sp-tap="modal('components/add.html')" class="btn icon-copy flex"></a>
                    <a sp-if="auth.isAdmin()" sp-tap="modal('components/confirm.html')" class="btn danger icon-bin flex"></a>
                  </div>
              </li>
              <li>
                  <q>{{_.description}}</q>
                  {{cells[cells.getIndex(r.cellId)].description}}
              </li>
              <li class="drop" sp-tap="c=!c" ng-class="{'active':c}">
                  <q>{{_.copyright}}</q>
                  <p ng-show="c">{{cells[cells.getIndex(r.cellId)].copyright}}</p>
              </li>
          </ul>
      </article>
    </aside>
  </div>
  
  <aside id="menu">
  
    <ul>   
      <li sp-tap="p('sets/')" ng-class="{open: r.view == 'sets'}">
        <i class="icon-sets"></i>
        <span>{{_.sets}}</span>
      </li>

      <li sp-tap="p('catalog/')" sp-kbd="'b'" ng-class="{open: r.view == 'catalog'}">
        <i class="icon-book"></i>
        <span>{{_.catalog}}</span>
      </li>
   
      <li sp-tap="p('search/')" sp-kbd="'/'" ng-class="{open: r.view == 'search'}">
        <i class="icon-search"></i>
        <span>{{_.search}}</span>
      </li>
   
      <li sp-tap="modal('components/settings.html')" sp-kbd="[',', 'command+,', 'control+,']">
        <i class="icon-cog"></i>
        <span>{{_.settings}}</span>
      </li>
  
    </ul>
  </aside>
  
  <section id="nav" class="fill w" ng-class="{open:menu}" >
      <header>
        <div class="b" sp-tap="toggleState('menu')" sp-kbd="'m'" ng-class="{on:menu}">
          <i class="icon-more"></i>
        </div>
        <div class="b" sp-tap="new()" sp-kbd="'n'" ng-class="{on:modal.isOn('new')}" sp-if="auth.isAdmin()">
          <i class="icon-plus"></i>
        </div>
        <h1 sp-tap="p('sets/')" sp-kbd="'s'"><b>Cell</b>Gallery</h1>
      </header>

      <div id="view" ng-class="navClass" >
        <article sp-slide="viewSlide" id="{{model}}" >
          <div ng-include="'components/'+model + '-template.html'"></div>
        </article>
      
      </div>
  </section>
</div>