<div>
	<infoheader open="true" heading="Filters" class="filters">
		<multiselect 
			title="Cell Types" 
			options="['bipolar', 'ganglion', 'amacrine']"
			selection="filters.cell_types"
		></multiselect>

		<multiselect 
			class="numbers"
			title="Coarse Depth" 
			options="[0,1,2,3,4,5,6,7,8,9,10]"
			selection="filters.coarse_depth"
		></multiselect>

		<multiselect 
			title="Depth Range" 
			options="['short', 'tall', 'neither']"
			selection="filters.depth_range"
		></multiselect>

		<multiselect 
			title="Fine Depth" 
			options="['inner', 'outter', 'neither']"
			selection="filters.fine_depth"
		></multiselect>

		<multiselect 
			title="Tangential Size" 
			options="['narrow', 'wide', 'neither']"
			selection="filters.tangential_size"
		></multiselect>
	</infoheader>
	<div class="advanced-search-results">

	</div>
</div>