<md-card>
	<!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
	<md-card-title>
		<md-card-title-text>
			<div>
				<span class="md-headline">{{set.name}}</span>
			</div>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		{{set.description}}
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<!-- Only disabling wiki temporarily -->
		<!-- <md-button class="md-raised" ng-disabled="!set.wiki" ng-click="showWikiDialog($event, set )">Wiki</md-button> -->
		<a ng-click="view()"><md-button class="md-primary md-raised">View</md-button></a>
	</md-card-actions>
</md-card>