<div>
	<!-- <div ng-click="invert($event)" class="inverter"></div> -->

	<!-- <md-button aria-label="{{view}}" ng-class="[ 'md-fab', 'md-mini', 'md-raised', view, { active: (view === current_view) }]" ng-click="viewClick($event, view)">
	    <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
	      {{view}}
	    </md-tooltip>
    </md-button> -->

    <md-button ng-click="invert($event)" class="md-icon-button md-primary inverter" aria-label="Invert">
      <md-icon md-svg-icon="/icons/invert-selection.svg"></md-icon>
      <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
	      	Invert
	    </md-tooltip>
    </md-button>

    <md-button ng-click="restore($event)" class="md-icon-button md-primary restorer" aria-label="Invert">
      <md-icon md-svg-icon="/icons/restore.svg"></md-icon>
      <md-tooltip md-direction="right" md-visible="tooltipVisible" md-autohide="true">
	      	Restore
	    </md-tooltip>
    </md-button>


	<div ng-click="restore($event)" class="restorer"></div>
	<div class="labels">
		<div 
			ng-repeat="cell in cells"
			ng-mouseenter="mouseenter(cell)"
			ng-mouseleave="mouseleave(cell)"
			ng-click="click(cell)"
			ng-class="{ 'color-container': true, hidden: cell.hidden }" 
		>
			<div style="border-color: {{ cells.length === 1 ? '#1a1a1a' : cell.color }}; background-color: {{ cells.length === 1 ? '#1a1a1a' : cell.color }}" class="color"></div>
			<div class="identifier">{{cell.id}}</div>
		</div>
	</div>
</div>
