<h1>Characterization</h1>

<h2>Classification</h2>

<table class="classification">
  <tr>
    <td>{{ celltypes.length !== 1 ? 'Types' : 'Type' }}</td>
    <td>
      <span class="celltypes" ng-repeat="type in celltypes">
        <a href="http://wiki.eyewire.org/index.php?title={{type}}_Cell">{{type}}</a>{{$last ? '' : ', '}}
      </span>
    </td>
  </tr>
  <tr>
    <td>{{ cellnames.length !== 1 ? 'Designations' : 'Designation' }}</td>
    <td>
      <span ng-repeat="name in cellnames">{{name}}{{$last ? '' : ', '}}</span>
    </td>
  </tr>
  <tr>
    <td>Cell Count</td>
    <td>{{neurons.length}}</td>
  </tr>
</table>

<infoheader id="stratification" heading="Stratification">

<p>
  Retinal cells stratify though the tissue. Their depth profile is useful for understanding their place in a computation &mdash; inputs and outputs.
  <br><br>
  The following chart is a representation of neuron arbor volume density (horizontal axis) by % IPL depth (vertical axis).
</p>
</infoheader>

<!-- <h4> Arbor Volume Density by % IPL Depth</h4> -->

<stratification id="stratification-chart"
  cells="cells"
  cellids="neurons"
  init="initChart()"/>

<infoheader heading="Preferred Direction">

<p>The following data is based on a two-photon calcium imaging experiment using lights strobed at the indicated angles. Data are only available for ganglion and some amacrine cells as only the face of the ganglion cell layer was labeled and imaged.</p>

<p>These methods are described in <a href="http://www.nature.com/nature/journal/v471/n7337/full/nature09818.html">Biggman, et al. 2011</a>. [<a ui-sref="publications">3</a>]</p> 

</infoheader>

<div class="radar-container">
  <div id="radar-on" class="radar-chart">
    <calcium
      class="radar"
      activation="on"
      cells="cells" />
    <h3>On</h3>
  </div>

  <div id="radar-off" class="radar-chart">
    <calcium
      class="radar"
      activation="off"
      cells="cells" />
    <h3>Off</h3>
  </div>
</div>

<!--  <div flex="grow">
  <h2>Wiki Overview</h2>

  <p>
    We do not currently have a wiki page for this class yet.
    <br>
    <br>
    <a class="btn btn-info" target="_blank" href="http://wiki.eyewire.org/index.php?title={{ set.name }}&action=edit">
      Help Contribute!
    </a>
  </p>
</div> -->

<h2>More Information</h2>

<div class="footer">
  <ul>
    <li><a ui-sref="publications">Publications</a></li>
    <li><a href="http://wiki.eyewire.org/index.php?title=Retinal_Neuron_Classification">Retinal Cell Wiki</a></li>
    <li><a href="http://wiki.eyewire.org/index.php?title=E2198">About e2198</a></li>
    <li><a href="http://eyewire.org">Eyewire</a></li>
  </ul>
</div>