<siteheader />
<main>
    <div class="classyimage"></div>
    <div class="content">
        <div class="tagline">Neuron Museum | Seung Lab @ Princeton</div>
        <a href="/">
            <div class="cta">Enter Museum</div>
        </a>
        <section class="credits">    
            <h1>Credits</h1>
            <p>We'd like to thank our partners, staff, and the Eyewirers that made these reconstructions and this museum possible.</p>

            

            <h1>Data</h1>

            <div class="flex">
                <credit src="">
                    <credit-name>The Eyewire Community</credit-name>
                    <credit-description>Reconstructed most of the neurons in the Museum.</credit-description>
                </credit>

                <credit src="">
                    <credit-name>Jinseop Kim</credit-name>
                    <credit-description></credit-description>
                </credit>

                <credit src="">
                    <credit-name>Matt Green</credit-name>
                    <credit-description></credit-description>
                </credit>

                <credit src="">
                    <credit-name>Alex Bae</credit-name>
                    <credit-description>Skeleton density and temporal response data.</credit-description>
                </credit>

                <credit src="">
                    <credit-name>Shang Mu</credit-name>
                    <credit-description></credit-description>
                </credit>

                <credit src="">
                    <credit-name>Nico Kemnitz</credit-name>
                    <credit-description>3D Mesh Generation</credit-description>
                </credit>

                <credit src="">
                    <credit-name>Ignacio Tartavull</credit-name>
                    <credit-description>Devised Museum import process version one.</credit-description>
                </credit>

                <credit src="">
                    <credit-name>William Silversmith</credit-name>
                    <credit-description>Devised Museum import process version two.</credit-description>
                </credit>

                <credit src="">
                    <credit-name>Sebastian Seung</credit-name>
                    <credit-description>Principal Investigator</credit-description>
                </credit>
            </div>
            <h1>Design</h1>
            <div class="flex">
                 <credit src="">
                    <credit-name>Alex Norton</credit-name>
                    <credit-description>Lead Designer</credit-description>
                </credit>

                <credit src="">
                    <credit-name>Ignacio Tartavull</credit-name>
                    <credit-description>Created the first version of the museum and provided a viewer skeleton.</credit-description>
                </credit>

                <credit src="">
                    <credit-name>William Silversmith</credit-name>
                    <credit-description>Provided autocomplete algorithm, lighting, and zoom-to-point in 3D.</credit-description>
                </credit>

                <credit src="">
                    <credit-name>Sebastian Seung</credit-name>
                    <credit-description>Usability feedback regarding scientific use cases.</credit-description>
                </credit>
            </div>

            <h1>Development</h1>
                <div class="flex">
                    <credit src="">
                        <credit-name>William Silversmith</credit-name>
                        <credit-description>Developed current iteration of the Museum with much assistance.</credit-description>
                    </credit>

                    <credit src="">
                        <credit-name>Ignacio Tartavull</credit-name>
                        <credit-description>Wrote server, provided initial framework for version two. Wrote version one.</credit-description>
                    </credit>

                    <credit src="">
                        <credit-name>Alex Norton</credit-name>
                        <credit-description>Wrote charts functionality in Angular &amp; D3.</credit-description>
                    </credit>
                </div>
            <h1>Previous Versions</h1>
                <div class="flex">
                     <credit src="">
                        <credit-name>Jack Hudson</credit-name>
                        <credit-description>Development for version 1.5.</credit-description>
                    </credit>

                     <credit src="">
                        <credit-name>Mio Akasako</credit-name>
                        <credit-description>Preliminary design for verison 1.5.</credit-description>
                    </credit>
                </div>

            <h1>Partners</h1>

            <h1>Third Party Technology</h1>

            <p>We would like to thank the people behind the following technologies for allowing us to build upon them:</p>

            <ul>
                <li>Chrome, Firefox, Safari, and Edge browsers</li>
                <li>AngularJS &ndash; Browser Application Framework</li>
                <li>THREE.js &ndash; 3D Object manipulation</li>
                <li>Express &ndash; JS server</li>
                <li>OpenCTM &ndash; Open standard for fast 3D model delivery</li>
                <li>Gulp &ndash; The streaming JS build system</li>
            </ul>

            <br>
            <p><i>Credits last updated September 2016.</i></p>
            <br>
        </section>
        <nav id="links">
            <div>Links</div>
            <ul>
                <li><a href="http://seunglab.org">Seung Lab Website</a></li>
                <li><a href="http://wiki.eyewire.org">Cell Wiki</a></li>
                <li><a href="http://eyewire.org">Eyewire</a></li>
            </ul>
        </nav>
        <footer>
            <a href="/">
                <div class="cta">Enter Museum</div>
            </a>
        </footer>
    </div>
</main>