<siteheader />
<main>
    <div class="classyimage"></div>
    <div class="content">
        <div class="tagline">Neuron Museum | Seung Lab @ Princeton</div>
        <a href="/">
            <div class="cta">Enter Museum</div>
        </a>
        <section class="credits">    
            <h1>Credits</h1>
            <p>We'd like to thank our partners, staff, and the Eyewirers that made these reconstructions and this museum possible.</p>

            <br>            

            <h1>Data</h1>

            <div class="flex">
                <credit class="ew-icon" src="/images/ew-black.svg">
                    <credit-name>The Eyewire Community</credit-name>
                    <credit-title>Volunteer Reconstructors</credit-title>
                    <credit-description>Reconstructed most of the neurons in The Museum. (<a href="http://blog.eyewire.org/about/">Credits</a>)</credit-description>
                </credit>

                <credit src="/images/credits/jinseop.jpg">
                    <credit-name>Jinseop Kim, Ph.D.</credit-name>
                    <credit-title>Principal Investigator @ <a href="http://eng.kbri.re.kr/pages/main/">KBRI</a></credit-title>
                    <credit-description></credit-description>
                </credit>

                <credit src="/images/credits/matt.jpg">
                    <credit-name>Matt Green, Ph.D.</credit-name>
                    <credit-title>Postdoc Researcher</credit-title>
                    <credit-description></credit-description>
                </credit>

                <credit src="/images/credits/alex-bae.jpg">
                    <credit-name>Alexander Bae</credit-name>
                    <credit-title>Doctoral Student</credit-title>
                    <credit-description>Skeleton density and temporal response data.</credit-description>
                </credit>

                <credit src="/images/credits/shang.jpg">
                    <credit-name>Shang Mu, Ph.D.</credit-name>
                    <credit-title>Postdoc Researcher</credit-title>
                    <credit-description></credit-description>
                </credit>

                <credit src="/images/credits/nico.jpg">
                    <credit-name>Nico Kemnitz</credit-name>
                    <credit-title>Software Engineer</credit-title>
                    <credit-description>3D Mesh Generation</credit-description>
                </credit>

                <credit src="/images/credits/ignacio.jpg">
                    <credit-name>Ignacio Tartavull</credit-name>
                    <credit-title>Software Engineer</credit-title>
                    <credit-description>Devised Museum import process version one.</credit-description>
                </credit>

                <credit src="/images/credits/will.jpg">
                    <credit-name>William Silversmith</credit-name>
                    <credit-title>Software Engineer</credit-title>
                    <credit-description>Devised Museum import process version two.</credit-description>
                </credit>

                <credit src="/images/credits/sebastian.jpg">
                    <credit-name>Sebastian Seung, Ph.D.</credit-name>
                    <credit-title>Principal Investigator</credit-title>
                    <credit-description></credit-description>
                </credit>
            </div>
            <h1>Design</h1>
            <div class="flex">
                 <credit src="/images/credits/alex-norton.jpg">
                    <credit-name>Alex Norton</credit-name>
                    <credit-title>Lead Designer</credit-title>
                    <credit-description></credit-description>
                </credit>

                <credit src="/images/credits/ignacio.jpg">
                    <credit-name>Ignacio Tartavull</credit-name>
                    <credit-title>Software Engineer</credit-title>
                    <credit-description>Created the first version of the museum and provided a viewer skeleton.</credit-description>
                </credit>

                <credit src="/images/credits/will.jpg">
                    <credit-name>William Silversmith</credit-name>
                    <credit-title>Software Engineer</credit-title>
                    <credit-description>Provided autocomplete algorithm, lighting, and zoom-to-point in 3D.</credit-description>
                </credit>

                <credit src="/images/credits/sebastian.jpg">
                    <credit-name>Sebastian Seung, Ph.D.</credit-name>
                    <credit-title>Principal Investigator</credit-title>
                    <credit-description>Usability feedback regarding scientific use cases.</credit-description>
                </credit>

                <credit src="/images/credits/mio.jpg">
                    <credit-name>Mio Akasako</credit-name>
                    <credit-title>Fmr. Research Specialist</credit-title>
                    <credit-description>Design for verison two prototype.</credit-description>
                </credit>
            </div>

            <h1>Development</h1>
                <div class="flex">
                    <credit src="/images/credits/will.jpg">
                        <credit-name>William Silversmith</credit-name>
                        <credit-title>Software Engineer</credit-title>
                        <credit-description>Developed version two of The Museum with much assistance.</credit-description>
                    </credit>

                    <credit src="/images/credits/ignacio.jpg">
                        <credit-name>Ignacio Tartavull</credit-name>
                        <credit-title>Software Engineer</credit-title>
                        <credit-description>Wrote server, provided prototype for version two client. Wrote version one.</credit-description>
                    </credit>

                    <credit src="/images/credits/alex-norton.jpg">
                        <credit-name>Alex Norton</credit-name>
                        <credit-title>Lead Designer</credit-title>
                        <credit-description>Wrote charts functionality in Angular &amp; D3.</credit-description>
                    </credit>

                    <credit src="/images/credits/nico.jpg">
                        <credit-name>Nico Kemnitz</credit-name>
                        <credit-title>Software Engineer</credit-title>
                        <credit-description>Resolved multithreading crash.</credit-description>
                    </credit>

                    <credit src="/images/credits/jack.jpg">
                        <credit-name>Jack Hudson</credit-name>
                        <credit-title>Fmr. Undergraduate Researcher</credit-title>
                        <credit-description>Assisted with version two prototype.</credit-description>
                    </credit>
                </div>

            <h1>Partners</h1>

            <h1>Third Party Technology</h1>

            <p>We would like to thank the people behind the following technologies for allowing us to build upon them:</p>

            <ul>
                <li><a href="https://www.google.com/chrome/">Chrome</a>, <a href="https://firefox.com">Firefox</a>, <a href="https://www.apple.com/safari/">Safari</a>, and <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Edge</a> browsers</li>
                <li><a href="https://angularjs.org/">AngularJS</a> &ndash; Google's Single Page App Framework</li>
                <li><a href="https://threejs.org/">THREE.js</a> &ndash; 3D Object manipulation</li>
                <li><a href="http://expressjs.com/">Express</a> &ndash; JS server</li>
                <li><a href="http://openctm.sourceforge.net/">OpenCTM</a> &ndash; Open standard for fast 3D model delivery</li>
                <li><a href="http://gulpjs.com/">Gulp</a> &ndash; The streaming JS build system</li>
            </ul>

            <br>
            <p><i>Credits last updated September 2016.</i></p>
            <br>
        </section>
        <nav id="links">
            <div>Links</div>
            <ul>
                <li><a href="http://seunglab.org">Seung Lab Website</a></li>
                <li><a href="http://wiki.eyewire.org">Cell Wiki</a></li>
                <li><a href="http://eyewire.org">Eyewire</a></li>
            </ul>
        </nav>
        <footer>
            <a href="/">
                <div class="cta">Enter Museum</div>
            </a>
        </footer>
    </div>
</main>