<header>   
    <div class="left">
        <a href="/"><img id="logo" src="/images/ew-black.svg"></img></a>
        <span class='title'><a href="/">Museum</a></span>
    </div>
    <nav class="right">
        <div><a href="/viewer">Viewer</a></div>
        <div><a href="/selector">Search</a></div>
        <div><a href="http://wiki.eyewire.org/">Wiki</a></div>
    </nav>
</header>
<main>
    <div class="classyimage"></div>
    <div class="content">
        <div class="tagline">Neuron Museum | Seung Lab @ Princeton</div>
        <div class="cta">Enter Museum</div>
        <section>
            <div class="what">
                <h1>Digital Neural Reconstructions</h1>
            
                <p>The Seung Lab uses techniques from machine learning and social computing to extract brain structure from light and electron microscopic images. <a href="http://eyewire.org">Eyewire</a> showcases our approach by mobilizing gamers from around the world to create 3D reconstructions of neurons by interacting with a deep convolutional network.</p>

                <p>This cell museum is where we present our finished reconstructions in an accessible format. In our viewer, you'll be able to see these finished cells represented in 3D space along with data pertinent to interpreting their significance. The neurons currently displayed here are mouse retinal cells from a dataset known as <a href="http://wiki.eyewire.org/index.php?title=E2198">e2198</a>.</p>

                <p>You can read more about our lab <a href="http://seunglab.org">here</a>.</p>
            </div>
            <div class="how">
                <h1>Classification System</h1>

                <img id="classification-diagram" src="/images/splash.svg"></img>
            </div>
            <div class="publications">
                <h1>Publications</h1>
                <p>The following publications are based on these reconstructions:</p>

                <ol>
                    <li>M.J. Greene, J.S. Kim, H.S. Seung, the EyeWirers. Analogous convergence of sustained and transient inputs in parallel on and off pathways for retinal motion computation. Cell Reports 14, 1-9 (2016). (<a href="https://drive.google.com/file/d/0BwWWE4p0wihlU1hVXzViVi11bUU/view?usp=sharing">pdf</a>)</li>
                    <li>J. S. Kim, M. J. Greene, A. Zlateski, K. Lee, M. Richardson, S. C. Turaga, M. Purcaro, M. Balkam, A. Robinson, B. F. Behabadi, M. Campos, W. Denk, H. S. Seung, and EyeWirers. Space-time wiring specificity supports direction selectivity in the retina. Nature 509, 331-6 (2014). (<a href="http://www.nature.com/nature/journal/v509/n7500/pdf/nature13240.pdf">pdf</a>)</li>
                </ol>
            </div>
            <div class="acknowlegments">
                <h1>Thank You</h1>
                <p>We'd like to thank our partners, staff, and the Eyewirers that made these reconstructions possible.</p>
            </div>
        </section>
        <nav id="links">
            <div>Links</div>
            <ul>
                <li><a href="http://seunglab.org">Seung Lab Website</a></li>
                <li><a href="http://wiki.eyewire.org">Cell Wiki</a></li>
                <li><a href="http://eyewire.org">Eyewire</a></li>
            </ul>
        </nav>
        <footer>
                <div class="cta">Enter Museum</div>
        </footer>
    </div>
</main>