<header>   
    <div class="left">
        <a href="/"><img id="logo" src="/images/ew.svg"></img></a>
        <span class='title'><a href="/">Cell Sanctuary</a></span>
    </div>
    <nav class="right">
        <div><a href="/viewer">Viewer</a></div>
        <div><a href="/selector">Search</a></div>
        <div><a href="http://wiki.eyewire.org/">Wiki</a></div>
    </nav>
</header>
<main>
    <div class="classyimage">
        <div class="tagline">Visualize Neurons | Seung Lab @ Princeton</div>
    </div>
    <div class="content">
        <div class="what">
            <h1>Digital Neural Reconstructions</h1>
        
            <p>The Seung Lab uses techniques from machine learning and social computing to extract brain structure from light and electron microscopic images. <a href="http://eyewire.org">Eyewire</a> showcases our approach by mobilizing gamers from around the world to create 3D reconstructions of neurons by interacting with a deep convolutional network.</p>

            <p>This cell sanctuary is where we present our finished reconstructions in an accessible format. In our viewer, you'll be able to see these finished cells represented in 3D space along with data pertinent to interpreting their significance. The neurons currently displayed here are mouse retinal cells from a dataset known as <a href="http://wiki.eyewire.org/index.php?title=E2198">e2198</a>.</p>

            <p>You can read more about our lab <a href="http://seunglab.org">here</a>.</p>
        </div>
        <div class="how">
            <h1>HOW?!!</h1>
            <p>Every day we work hard mining neurons from gray rocks. This is something the news media has taken a keen interest in.</p>
            <p>The process of refining an artisian neuron is performed by only the most cultured scientists &mdash; we've been mining neurons for over ten years and are leaders in the industry. Our customers trust our neurons to have a gritty smokey flavor.</p>
            <p>Just like you, we're big fans of the environment, so we only advertise our product in Nature &mdash; a fine magazine that certifies products as locally sourced and GMO free.... with exceptions made for experimental subjects.</p>
        </div>
        <div class="cta"></div>
    </div>
    <nav id="links">
        <h1>Links</h1>
        <ul>
            <li><a href="http://seunglab.org">Seung Lab Website</a></li>
            <li><a href="http://wiki.eyewire.org">Cell Wiki</a></li>
            <li><a href="http://eyewire.org">Eyewire</a></li>
        </ul>
    </nav>
</main>
<footer>
    
</footer>