<siteheader />
<main>
    <div class="classyimage"></div>
    <div class="content">
        <div class="tagline">Neuron Museum | Seung Lab @ Princeton</div>
        <a href="/">
            <div class="cta">Enter Museum</div>
        </a>
        <section>
            <div class="what">
                <h1>Digital Neural Reconstructions</h1>
            
                <p>The Seung Lab uses techniques from machine learning and social computing to extract brain structure from light and electron microscopic images. <a href="http://eyewire.org">Eyewire</a> showcases our approach by mobilizing gamers from around the world to create 3D reconstructions of neurons by interacting with a deep convolutional network.</p>

                <p>This cell museum is where we present our finished reconstructions in an accessible format. In our viewer, you'll be able to see these finished cells represented in 3D space along with data pertinent to interpreting their significance. The neurons currently displayed here are mouse retinal cells from a dataset known as <a href="http://wiki.eyewire.org/index.php?title=E2198">e2198</a>.</p>

                <p>You can read more about our lab <a href="http://seunglab.org">here</a>.</p>
            </div>
            <div class="how">
                <h1>Classification System</h1>

                <img id="classification-diagram" src="/images/splash.svg"></img>
            </div>
            <div class="open-data">
                <h1>Open Data</h1>
                <p>We are making our data and code publically available via github.com.</p>

                <a href="https://github.com/seung-lab/e2198-gc-analysis">https://github.com/seung-lab/e2198-gc-analysis</a>
            </div>
            <div id="publications" class="publications">
                <h1>Publications</h1>
                <p>The following publications are based on this dataset:</p>

                <ol>
                    <li>M.J. Greene, J.S. Kim, H.S. Seung, the EyeWirers. Analogous convergence of sustained and transient inputs in parallel on and off pathways for retinal motion computation. <i>Cell Reports</i> <b>14,</b> 1-9 (2016). doi:10.1016/j.celrep.2016.02.001 (<a href="documents/greene-retinal-motion-computation-on-retina-2016.pdf">pdf</a>)</li>
                    <li>J. S. Kim, M. J. Greene, A. Zlateski, K. Lee, M. Richardson, S. C. Turaga, M. Purcaro, M. Balkam, A. Robinson, B. F. Behabadi, M. Campos, W. Denk, H. S. Seung, and EyeWirers. Space-time wiring specificity supports direction selectivity in the retina. <i>Nature</i> <b>509,</b> 331-6 (2014). doi:10.1038/nature13240 (<a href="http://www.nature.com/nature/journal/v509/n7500/pdf/nature13240.pdf">pdf</a>)</li>
                    <li>Briggman, Helmstaedter &amp; Denk. Wiring specificity in the direction-selectivity circuit of the retina. <i>Nature</i> <b>471,</b> 183-188 (2011). doi:10.1038/nature09818 (<a href="http://www.nature.com/nature/journal/v471/n7337/full/nature09818.html">pdf</a>)</li>
                </ol>
            </div>
            <div class="acknowlegments">
                <h1>Thank You</h1>
                <p>We'd like to thank our partners, staff, and the Eyewirers that made these reconstructions and the Museum possible.</p>

                <p><a ui-sref='credits'>Credits</a></p>
            </div>
        </section>
        <nav id="links">
            <div>Links</div>
            <ul>
                <li><a href="http://seunglab.org">Seung Lab Website</a></li>
                <li><a href="http://wiki.eyewire.org">Cell Wiki</a></li>
                <li><a href="http://eyewire.org">Eyewire</a></li>
            </ul>
        </nav>
        <footer>
            <a href="/">
                <div class="cta">Enter Museum</div>
            </a>
        </footer>
    </div>
</main>