
<div class="menu">
	<div class="title">Museum</div>
	<div class="blurb">
		This cell museum is where we present our finished reconstructions in an accessible format. In our viewer, you'll be able to see these finished cells represented in 3D space along with data pertinent to interpreting their significance. The neurons currently displayed here are mouse retinal cells from a dataset known as <a href="http://wiki.eyewire.org/index.php?title=E2198">e2198</a>.
	</div>
	<div class="primary links">
		<ul>
			<li><a ng-click="charts_open = true">Open Charts</a></li>
			<li><a ng-click="browse = true">Browse Gallery</a></li>
			<li>Types Nomenclature</li>
		</ul>
	</div>
	<div class="secondary links">
		 <ul>
		    <li><a ui-sref="publications">Publications</a></li>
		    <li><a href="http://wiki.eyewire.org/index.php?title=E2198">e2198 Dataset Details</a></li>
		    <li><a href="http://wiki.eyewire.org/index.php?title=Retinal_Neuron_Classification">Retinal Cell Wiki</a></li>
		    <li><a href="http://eyewire.org">Eyewire</a></li>
		  </ul>
	</div>
	<div class="tertiary links">
		<ul>
			<li><a ui-sref="about">About</a></li>
			<li>Credits</li>
		</ul>
	</div>
</div>

<div class="gallery">
	This is the gallery.
</div>