<div class="title">
	<span class="words">Museum</span>
	<md-button ng-click="$parent.fullscreenToggle($event)" class="circular-button fullscreen-button">
			<md-icon ng-class="{ 
						'fullscreen-icon': true, 
						'rotate-ninety': sidebarFullscreen 
					}" md-svg-icon="icons/fullscreen.svg" ></md-icon>
			<md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="true">
				{{ sidebarFullscreen ? "To Viewer (f)" : "Fullscreen (f)" }}
			</md-tooltip>
	</md-button>
	<md-button ng-click="$parent.main_menu_open = false" class="close-menu circular-button">
		<hr>
		<hr>	
		<md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="true">
			Close Menu
		</md-tooltip>
	</md-button>
</div>

<div ng-class="[ 'menu', { onscreen: !$parent.browse } ]">
	<div class="card navigation">
		<div class="flex">
			Menu
		</div>
	</div>

	<div class="card">
		<div class="flex">
			<infoheader nofollowing="true" heading="What is this?">
				<p>This is where we present our finished reconstructions in an accessible format. In our viewer, you'll be able to see these finished cells represented in 3D space along with data pertinent to interpreting their significance. The neurons currently displayed here are mouse retinal cells from a dataset known as <a href="http://wiki.eyewire.org/index.php?title=E2198">e2198</a>.</p>
			</infoheader>
		</div>
	</div>
	<div class="card">
		<div class="flex">
			<infoheader nomore="true" heading="Actions"></infoheader>
			<div class="actions">
				<button ng-click="$parent.charts_open = true">Open Charts</button>
				<button ng-click="$parent.browse = true">Browse Gallery</button>
				<button ng-click="$parent.takeScreenshot()">Take Screenshot</button>
				<button id="copy-view-url">Copy View URL</button> <!-- listener declared in viwer.controller.es6 b/c clipboard security requires user input for copy via clipboard.js -->
				<button ng-click="$parent.downloadMeshes($event)">Get Meshes</button>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="flex">
			<infoheader nomore="true" heading="Links"></infoheader>
			<ul>
				<li><a ui-sref="publications">Publications</a></li>
				<li><a href="http://wiki.eyewire.org/index.php?title=E2198">e2198 Dataset Details</a></li>
				<li><a href="http://wiki.eyewire.org/index.php?title=Retinal_Neuron_Classification">Retinal Cell Wiki</a></li>
				<li><a href="http://eyewire.org">Eyewire</a></li>
			</ul>
		</div>
	</div>
	<div class="card">
		<div class="flex">
			<infoheader nomore="true" heading="More Information"></infoheader>
			<ul>
				<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="credits">Credits</a></li>
			</ul>
		</div>
	</div>
</div>

<div ng-controller="BrowseCtrl" ng-class="[ 'browse', { onscreen: $parent.browse } ]">
	<div class="card navigation">
		<div class="flex">
			<a ng-click="$parent.$parent.browse = false">Menu</a> <span class="triangle">&#9654;</span> Browse
		</div>
	</div>
	<div class="gallery">
		<div ng-click="chooseType(set.type)" class="item" ng-repeat="set in sets">
			<div class="header">{{set.type}} <span ng-if="set.classical_type" ng-class="{ notsecurelyknown: !set.securely_known }" ng-bind-html="set.classical_type_html"></span></div>
			<div class="count">{{set.count}} ct</div>
			<img ng-if="!!set.img_url" ng-src="{{ set.img_url }}" />
		</div>
	</div>
</div>