<siteheader />

<main class="search">
	<div class="classyimage"></div>
	<section class="whitepaper">
		<md-content>
		  <form ng-submit="$event.preventDefault()">
			<h1>Search</h1>
			<md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0" placeholder="What neuron or class type are you looking for?">
			  <md-item-template>
				<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
			  </md-item-template>
			  <md-not-found>
				No matches found for "{{searchText}}".
			  </md-not-found>
			</md-autocomplete>
		  </form>
		  <div class="switches">
			<md-switch class="md-primary" ng-model="data.show_bipolars" aria-label="Show Bipolar Switch">
			  Bipolar Cells 
			</md-switch>
			<br>
			<md-switch class="md-primary" ng-model="data.show_ganglia" aria-label="Show Ganglia Switch">
			  Ganglion Cells 
			</md-switch>
		  </div>
		</md-content>
		</div>

		<section class="aside instructions">
			<div>Instructions</div>
			<p>You can search for bipolar retinal cells and ganglion retinal cells by ID number, name, or description.</p>
		</section>

		<div class="results">
			<h3>{{cards.length}} 
				<span ng-show="cards.length != 1">Matches</span>
				<span ng-show="cards.length == 1">Match</span>
			</h3>
			<div class="results-matches">
				<div ng-repeat="set in cards">
					<card set-data="set"></card>
				</div>
			</div>
		</div>

		<footer>
			<a href="/">
				<img src="/images/ew-white.svg" alt="" />
			</a>
		</footer>
	</section>
</main>