<header>   
    <div ng-location="viewer" class="left">
        <img id="logo" src="/images/ew-black.svg"></img>
        <div class='title'>Museum</div>
    </div>
    <nav class="right">
    	<div ng-location="viewer"><a ui-sref="viewer">Viewer</a></div>
        <div ng-location="http://wiki.eyewire.org"><a href="http://wiki.eyewire.org/">Wiki</a></div>
        <div ng-location="https://github.com/seung-lab/e2198-gc-analysis"><a href="https://github.com/seung-lab/e2198-gc-analysis">Github</a></div>
    </nav>
</header>