<header class="viewer">   
    <div ng-location='main' id="logo"></div>
    <div class="search">
      <md-autocomplete ng-keydown="searchKeydown($event)" ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0" placeholder="Museum Search">
        <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
        No matches found for "{{searchText}}".
        </md-not-found>
      </md-autocomplete>
      <i ng-click="goToResult(selectedItem)" class="search-action fa fa-search" aria-hidden="true"></i>
      <div class="advanced" ng-location="search"></div>
    </div>
</header>

<main class="viewer">
  <div class="controls">
    <div class="group">
      <div ng-repeat="cam in cameras">
        <md-button aria-label="{{cam}}" ng-class="[ 'md-fab', 'md-mini', 'md-raised', cam, { active: (cam === camera) }]" ng-click="camClick(cam)">
          <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
            {{cam}}
          </md-tooltip>
        </md-button>
      </div>
    </div>

     <div class="group">
      <div ng-repeat="view in views">
        <md-button aria-label="{{view}}" ng-class="[ 'md-fab', 'md-mini', 'md-raised', view, { active: (view === current_view) }]" ng-click="viewClick(view)">
          <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
            {{view}}
          </md-tooltip>
        </md-button>
      </div>
    </div>
  </div>

  <md-button class="more-info md-fab md-raised" ng-click="toggle($event)" aria-label="toggle menu" >
    <md-icon ng-hide="sidebar_open" md-svg-icon="icons/left-chevron-black.svg" ></md-icon>
    <md-icon ng-hide="!sidebar_open"  md-svg-icon="icons/right-chevron-black.svg"></md-icon>
  </md-button>

  <viewport layout="row" flex="grow"></viewport>
  
  <div id="right-sidebar" class="sidebar">
    <div class="sidebar-content">
      <h1>Stratification of Inner Plexiform Layer</h1>
      <div ng-controller="stratificationController">
        <stratification 
          bindto-id="chart-stratification"  
          chart="chart"  
          on-legend-click="onLegendClick(cell_id)"
          on-legend-mouseover="onLegendMouseover(cell_id)"
          on-legend-mouseout="onLegendMouseout(cell_id)"
          init="initChart()" />
      </div> 

      <h1>Cell Classes Present</h1>
      <div ng-repeat="name in cellnames">
        {{name}}
      </div>

      <h1>Cell Types Present</h1>
      <div ng-repeat="type in celltypes">
        {{type}}
      </div>

      <h1>Preferred Direction</h1>

      <p>The following data is based on a calcium imaging experiment using lights strobed in particular directions.</p>

      <h2>ON</h2>

      <div ng-controller="calciumController">
        <calcium 
          bindto-id="chart-calcium-on"
          activation="on"
          on-legend-click="onLegendClick(cell_id)"
          on-legend-mouseover="onLegendMouseover(cell_id)"
          on-legend-mouseout="onLegendMouseout(cell_id)"
          init="initChart()" />
      </div>

      <h2>OFF</h2>

      <div ng-controller="calciumController">
        <calcium 
          bindto-id="chart-calcium-off"
          activation="off"
          on-legend-click="onLegendClick(cell_id)"
          on-legend-mouseover="onLegendMouseover(cell_id)"
          on-legend-mouseout="onLegendMouseout(cell_id)"
          init="initChart()" />
      </div>
      
     <!--  <div flex="grow">
        <h2>Wiki Overview</h2>

        <p>
          We do not currently have a wiki page for this class yet.
          <br>
          <br>
          <a class="btn btn-info" target="_blank" href="http://wiki.eyewire.org/index.php?title={{ set.name }}&action=edit">
            Help Contribute!
          </a>
        </p>
      </div> -->

    </div>
  </div>

  <div class="bottom-left">
    <div ng-class="['progress-indicator', { onscreen: loading.show }]">Loading {{loading.value}}%</div>
    <div>e2198 &mdash; Murine Retinal IPL &amp; INL</div>
  </div>
</main>

