<main class="viewer">
  <section ng-class="{ left: true, glider: true, onscreen: main_menu_open, fullscreen: sidebarFullscreen }">
    <div class="main-menu" ng-include="'templates/main_menu.html'"></div>
    <div class="searchTools">
        <md-button ng-class="[ 'more-info', 'md-fab', 'md-raised', { 'sidebar-open': charts_open }]" ng-click="toggleMainMenu($event)" aria-label="toggle menu" >
        <md-icon md-svg-src="images/ew-black.svg" ></md-icon>

        <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="true">
          Menu (m)
        </md-tooltip>
      </md-button>
      <div class="search">
        <md-autocomplete 
          ng-keydown="searchKeydown($event)" 
          ng-disabled="false" 
          md-no-cache="true" 
          md-selected-item="selectedItem" 
          md-search-text-change="searchTextChange(searchText)" 
          md-search-text="searchText" 
          md-selected-item-change="selectedItemChange(item)" 
          md-items="item in querySearch(searchText)"
          md-item-text="item.display"
          md-escape-key="blur" 
          md-min-length="0" 
          placeholder="Museum Search">

          <md-item-template>
          <span class="autocomplete-match" md-highlight-text="searchText" md-highlight-flags="^i" ng-bind-html>{{item.display}} &ndash; {{item.count}} cell{{ item.count === 1 ? '' : 's' }}</span>
          </md-item-template>
          <md-not-found> 
          {{
            autocompleteLoaded 
              ? 'No matches.'
              : "Loading autocompletions..."
          }}
          </md-not-found>
        </md-autocomplete>
        <i ng-click="gotoFirstAutocompleteResult()" class="search-action" aria-hidden="true"></i>
        <div ng-click="toggleBrowse()" class="advanced">Browse</div>
      </div>
    </div>
    <div class="bottom-left">
      <div ng-class="['progress-indicator', { onscreen: loading.show }]">Loading {{loading.value}}%</div>
      
      <div ng-if="cell_types.length" class="progress-indicator onscreen">Type{{ cell_types.length === 1 ? '' : 's' }} &ndash;
        <span class="cell-type" ng-repeat="type in cell_types">
          {{type.type}}
          <span ng-class="{ notSecurelyKnown: !type.securely_known }" ng-bind-html="type.classical"></span>{{$last ? '' : ', '}}
        </span>
      </div>

      <div><a href="http://wiki.eyewire.org/index.php?title=E2198">Mouse Retinal Neurons</a></div>
    </div>
  </section>

  <section ng-class="{ right: true, glider: true, onscreen: charts_open, fullscreen: sidebarFullscreen }">
    <div class="controls">
      <div class="group">
        <div ng-repeat="cam in cameras">
          <md-button aria-label="{{cam}}" ng-class="[ 'md-fab', 'md-mini', 'md-raised', cam, { active: (cam === camera) }]" ng-click="camClick($event, cam)">
            <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
              {{cam}} ({{cam|limitTo: 1}})
            </md-tooltip>
          </md-button>
        </div>
      </div>

       <div class="group">
        <div ng-repeat="view in views">
          <md-button aria-label="{{view}}" ng-class="[ 'md-fab', 'md-mini', 'md-raised', view, { active: (view === current_view) }]" ng-click="viewClick($event, view)">
            <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
              {{view}} ({{view|limitTo: 1}})
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </div>

    <md-button ng-class="[ 'more-info', 'md-fab', 'md-raised', { 'sidebar-open': charts_open }]" ng-click="toggleCharts($event)" aria-label="toggle menu" >
      <md-icon md-svg-icon="icons/stats.svg" ></md-icon>

      <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
        Charts (spacebar)
      </md-tooltip>
    </md-button>

    <div id="right-sidebar" ng-class="{ sidebar: true, fullscreen: sidebarFullscreen }">
      <div class="characterization-header">
        <h1>Charts</h1>
        <md-button ng-click="fullscreenToggle($event)" class="circular-button">
          <md-icon ng-class="{ 
            'fullscreen-icon': true, 
            'rotate-ninety': sidebarFullscreen 
          }" md-svg-icon="icons/fullscreen.svg" ></md-icon>
          <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="true">
            {{ sidebarFullscreen ? "To Viewer (f)" : "Fullscreen (f)" }}
          </md-tooltip>
        </md-button>

        <md-button ng-click="charts_open = false" class="circular-button">
            X
            <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="true">
              Close Menu
            </md-tooltip>
        </md-button>

      </div>
      <div class="characterization" ng-include="'templates/characterization.html'"></div>
      <chartlegend cells="cells" />
    </div>

  </section>

  <viewport layout="row" flex="grow"></viewport>
  
</main>

