<header class="viewer">   
    <div ng-location='main' id="logo"></div>
    <div class="search">
      <md-autocomplete ng-keydown="searchKeydown($event)" ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0" placeholder="Museum Search">
        <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
        No matches found for "{{searchText}}".
        </md-not-found>
      </md-autocomplete>
      <i ng-click="goToResult(selectedItem)" class="search-action fa fa-search" aria-hidden="true"></i>
      <div class="advanced" ng-location="search"></div>
    </div>
</header>

<main class="viewer">
  <section ng-class="{ glider: true, onscreen: sidebar_open, fullscreen: sidebarFullscreen }">
    <div class="controls">
      <div class="group">
        <div ng-repeat="cam in cameras">
          <md-button aria-label="{{cam}}" ng-class="[ 'md-fab', 'md-mini', 'md-raised', cam, { active: (cam === camera) }]" ng-click="camClick($event, cam)">
            <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
              {{cam}}
            </md-tooltip>
          </md-button>
        </div>
      </div>

       <div class="group">
        <div ng-repeat="view in views">
          <md-button aria-label="{{view}}" ng-class="[ 'md-fab', 'md-mini', 'md-raised', view, { active: (view === current_view) }]" ng-click="viewClick($event, view)">
            <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="true">
              {{view}}
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </div>

    <md-button ng-class="[ 'more-info', 'md-fab', 'md-raised', { 'sidebar-open': sidebar_open }]" ng-click="toggle($event)" aria-label="toggle menu" >
      <md-icon ng-hide="sidebar_open" md-svg-icon="icons/left-chevron-black.svg" ></md-icon>
      <md-icon ng-hide="!sidebar_open"  md-svg-icon="icons/right-chevron-black.svg"></md-icon>
    </md-button>

     <div id="right-sidebar" class="sidebar">
        <div ng-click="fullscreenToggle($event)" class="fullscreen">{{ sidebarFullscreen ? "To Viewer" : "Fullscreen" }}</div>
        <h1>Characterization</h1>

        <h2>Classification</h2>

        <table class="classification">
          <tr>
            <td>{{ celltypes.length !== 1 ? 'Types' : 'Type' }}</td>
            <td>
              <span class="celltypes" ng-repeat="type in celltypes">
                <a href="http://wiki.eyewire.org/index.php?title={{type}}_Cell">{{type}}</a>{{$last ? '' : ', '}}
              </span>
            </td>
          </tr>
          <tr>
            <td>{{ cellnames.length !== 1 ? 'Designations' : 'Designation' }}</td>
            <td>
              <span ng-repeat="name in cellnames">{{name}}{{$last ? '' : ', '}}</span>
            </td>
          </tr>
          <tr>
            <td>Cell Count</td>
            <td>{{neurons.length}}</td>
          </tr>
        </table>

        <h2>Stratification</h2>

        <p>Retinal cells stratify though the tissue. Their depth profile is useful for understanding their place in a computation &mdash; inputs and outputs.</p>
        <br>

        <h3>IPL Depth by Percent Total Arbor Volume</h3>

        <div class="stratification-chart" ng-controller="stratificationController">
          <stratification 
            bindto-id="chart-stratification"  
            chart="chart"  
            on-legend-click="onLegendClick(cell_id)"
            on-legend-mouseover="onLegendMouseover(cell_id)"
            on-legend-mouseout="onLegendMouseout(cell_id)"
            init="initChart()" /> 
        </div> 

        <h2>Preferred Direction</h2>

        <p>The following data is based on a two-photon calcium imaging experiment using lights strobed at the indicated angles. Data are only available for ganglion and some amacrine cells as only the face of the ganglion cell layer was labeled and imaged.</p>

        <p>These methods are described in <a href="http://www.nature.com/nature/journal/v471/n7337/full/nature09818.html">Biggman, et al. 2011</a>. [<a ui-sref="publications">3</a>]</p> 

        <br>

        <h3>ON</h3>

        <div ng-controller="calciumController">
          <calcium 
            bindto-id="chart-calcium-on"
            activation="on"
            on-legend-click="onLegendClick(cell_id)"
            on-legend-mouseover="onLegendMouseover(cell_id)"
            on-legend-mouseout="onLegendMouseout(cell_id)"
            init="initChart()" />
        </div>

        <br><br>

        <h3>OFF</h3>

        <div ng-controller="calciumController">
          <calcium 
            bindto-id="chart-calcium-off"
            activation="off"
            on-legend-click="onLegendClick(cell_id)"
            on-legend-mouseover="onLegendMouseover(cell_id)"
            on-legend-mouseout="onLegendMouseout(cell_id)"
            init="initChart()" />
        </div>
        
       <!--  <div flex="grow">
          <h2>Wiki Overview</h2>

          <p>
            We do not currently have a wiki page for this class yet.
            <br>
            <br>
            <a class="btn btn-info" target="_blank" href="http://wiki.eyewire.org/index.php?title={{ set.name }}&action=edit">
              Help Contribute!
            </a>
          </p>
        </div> -->

        <h2>More Information</h2>

        <div class="footer">
          <ul>
            <li><a ui-sref="publications">Publications</a></li>
            <li><a href="http://wiki.eyewire.org/index.php?title=Retinal_Neuron_Classification">Retinal Cell Wiki</a></li>
            <li><a href="http://wiki.eyewire.org/index.php?title=E2198">About e2198</a></li>
            <li><a href="http://eyewire.org">Eyewire</a></li>
          </ul>

          <a href="http://seunglab.org">Seung Lab @ Princeton</a>
        </div>
    </div>
  </section>

  <viewport layout="row" flex="grow"></viewport>
  
  <div class="bottom-left">
    <div ng-class="['progress-indicator', { onscreen: loading.show }]">Loading {{loading.value}}%</div>
    <div>e2198 &mdash; Murine Retinal IPL &amp; INL</div>
  </div>
</main>

