<md-dialog aria-label="{{name}}">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{name}}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content >
    <div>
      <iframe style="height:300px; width:800px;" ng-src="{{trustSrc(wiki)}}" allowfullscreen frameborder="0"></iframe>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button href="http://wiki.eyewire.org" target="_blank" md-autofocus>
      More on wiki.eyewire.org
    </md-button>
    <span flex></span>
    <md-button ng-click="cancel()" style="margin-right:20px;" >
      close
    </md-button>
  </div>
  </form>
</md-dialog>
